<app-navigation></app-navigation>
<section class="checkout-header page header bg-dark section" *ngIf="userDetail != null">
   <div class="container bring-to-front pt-5 pb-0">
      <div class="page-title">
         <h1 class="regular text-contrast">{{ userDetail.name_surname }}</h1>
         <p class="mb-0 text-muted">{{ userDetail.email }}</p>
      </div>
      <nav class="nav navbar mt-4">
         <a [routerLink]="['/admin/user-detail', userDetail.id]" class="nav-item nav-link active">
            <i class="far fa-user mr-2"></i> 
            <span class="d-none d-md-inline">Bilgiler</span> 
         </a>
         <a [routerLink]="['/admin/user-raffles', userDetail.id]" class="nav-item nav-link">
            <i class="far fa-address-card mr-2"></i> 
            <span class="d-none d-md-inline">Çekilişler</span> 
         </a>
         <a [routerLink]="['/admin/user-packages', userDetail.id]" class="nav-item nav-link">
            <i class="far fa-credit-card mr-2"></i> 
            <span class="d-none d-md-inline">Paketler</span> 
         </a>
         <a [routerLink]="['/admin/user-messages', userDetail.id]" class="nav-item nav-link">
            <i class="far fa-check-square mr-2"></i> 
            <span class="d-none d-md-inline">Mesajlar</span>
         </a>
      </nav>
   </div>
</section>
<section class="section" *ngIf="userDetail != null">
   <div class="container pt-0 mt-n8">
      <div class="row">
         <div class="col-lg-12 pt-9">
            <div class="row gap-y">
               <div class="col-md-6 mr-md-auto">
                  <h4 class="border-bottom mb-4 pb-3">Kullanıcı Bilgileri</h4>
                  <form class="form cozy" novalidate="novalidate">
                     <div class="form-group">
                        <label for="email" class="control-label">İsim Soyisim</label> 
                        <input type="text" class="form-control" placeholder="İsim Soyisim" value="{{ userDetail.name_surname }}">
                     </div>
                     <div class="form-group">
                        <label for="email" class="control-label">E-Posta Adresi</label> 
                        <input type="password" class="form-control" placeholder="E-Posta Adresi" value="{{ userDetail.email }}">
                     </div>
                     <div class="form-group">
                        <label for="email" class="control-label">Telefon Numarası</label> 
                        <input type="password" class="form-control" placeholder="Telefon Numarası" value="{{ userDetail.phone_number }}">
                     </div>
                     <button data-loading-text="Sending..." type="submit" class="btn btn-rounded btn-primary">Kaydet</button>
                  </form>
               </div>
               <div class="col-md-6">
                  <h4 class="border-bottom mb-4 pb-3">Şifre İşlemleri</h4>
                  <form class="form cozy" novalidate="novalidate">
                     <div class="form-group">
                        <label for="email" class="control-label">Yeni Şifre</label> 
                        <input type="password" formControlName="password" class="form-control" placeholder="Yeni Şifre">
                     </div>
                     <div class="form-group">
                        <label for="email" class="control-label">Yeni Şifre Tekrar</label> 
                        <input type="password" formControlName="password_again" class="form-control" placeholder="Yeni Şifre Tekrar">
                     </div>
                     <button data-loading-text="Sending..." type="submit" class="btn btn-rounded btn-primary">Kaydet</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="checkout-header page header bg-dark section" *ngIf="userDetail == null">
      <div class="container bring-to-front pt-5 pb-0">
         <div class="page-title">
            <h1 class="regular text-contrast">Kullanıcı bulunamadı.</h1>
         </div>
      </div>
   </section>
<app-footer></app-footer>