<app-navigation></app-navigation>
<header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover"
   style="background-image: url('assets/img/bg/waves.jpg')">
   <div class="container" style="padding-top: 0px;"></div>
</header>
<section class="section">
   <div class="container pt-0 mt-n8">
      <div class="row" *ngIf="!doingGiveaway">
         <div class="col-lg-7 pt-7">
            <!--<h5 class="mb-5" style="font-weight: bold">Çekiliş Kuralları</h5>-->
            <form [formGroup]="updateGiveawayForm" (ngSubmit)="onUpdate(updateGiveawayForm.value, giveaway?.code)"
               class="checkout-cc-payment-form" novalidate="novalidate">
               <div class="accordion accordion-info" id="accordion-colored" data-current="info">
                  <div class="card mb-3">
                     <div class="card-header">
                        <h5 class="mb-0"><a href="#" class="card-title btn collapsed" data-toggle="collapse"
                              data-target="#clr-q1" aria-expanded="false" style="font-size: 22px; font-weight: bold;"><i class="fas fa-angle-down angle"></i>Çekiliş
                              Kuralları</a></h5>
                     </div>
                     <div id="clr-q1" class="collapse" data-parent="#accordion-colored">
                        <div class="card-body">
                           <div class="row gap-y align-items-center">
                              <div class="col-md-12">

                                 <div class="form-group">
                                    <label for="card-number" class="control-label small bold">Çekiliş Adı ve
                                       Ödülü</label>
                                    <input class="form-control update-form" type="text" formControlName="title"
                                       placeholder="Çekiliş adı ve ödülünü girin" required="">
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-sm-6">
                                       <label for="expiration" class="control-label small bold">Asil Talihli
                                          Sayısı</label>
                                       <select id="cars" class="form-control update-form" formControlName="winner_count">
                                          <option [ngValue]="1">1</option>
                                          <option [ngValue]="2">2</option>
                                          <option [ngValue]="3" [selected]="true">3</option>
                                          <option [ngValue]="4">4</option>
                                          <option [ngValue]="5">5</option>
                                          <option [ngValue]="6">6</option>
                                          <option [ngValue]="7">7</option>
                                          <option [ngValue]="8">8</option>
                                          <option [ngValue]="9">9</option>
                                          <option [ngValue]="10">10</option>
                                          <option [ngValue]="11">11</option>
                                          <option [ngValue]="12">12</option>
                                          <option [ngValue]="13">13</option>
                                          <option [ngValue]="14">14</option>
                                          <option [ngValue]="15">15</option>
                                          <option [ngValue]="16">16</option>
                                          <option [ngValue]="17">17</option>
                                          <option [ngValue]="18">18</option>
                                          <option [ngValue]="19">19</option>
                                          <option [ngValue]="20">20</option>
                                       </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                       <label for="expiration" class="control-label small bold">Yedek Talihli
                                          Sayısı</label>
                                       <select id="cars" class="form-control update-form" formControlName="reserve_winner_count">
                                          <option [ngValue]="1">1</option>
                                          <option [ngValue]="2">2</option>
                                          <option [ngValue]="3" [selected]="true">3</option>
                                          <option [ngValue]="4">4</option>
                                          <option [ngValue]="5">5</option>
                                          <option [ngValue]="6">6</option>
                                          <option [ngValue]="7">7</option>
                                          <option [ngValue]="8">8</option>
                                          <option [ngValue]="9">9</option>
                                          <option [ngValue]="10">10</option>
                                          <option [ngValue]="11">11</option>
                                          <option [ngValue]="12">12</option>
                                          <option [ngValue]="13">13</option>
                                          <option [ngValue]="14">14</option>
                                          <option [ngValue]="15">15</option>
                                          <option [ngValue]="16">16</option>
                                          <option [ngValue]="17">17</option>
                                          <option [ngValue]="18">18</option>
                                          <option [ngValue]="19">19</option>
                                          <option [ngValue]="20">20</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-sm-6">
                                       <label for="expiration" class="control-label small bold">Katılım Şansı</label>
                                       <select id="cars" class="form-control update-form" formControlName="participation">
                                          <option [ngValue]="1">Her kullanıcı için 1 katılım</option>
                                          <option [ngValue]="2" [selected]="true">Her farklı yorum 1 katılım</option>
                                          <option [ngValue]="3">Her farklı etiket 1 katılım</option>
                                       </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                       <label for="expiration" class="control-label small bold">Yorumdaki Etiket Sayısı
                                          (@)</label>
                                       <select id="cars" class="form-control update-form" formControlName="tag_count">
                                          <option [ngValue]="0" [selected]="true">Zorunlu Değil</option>
                                          <option [ngValue]="1">1</option>
                                          <option [ngValue]="2">2</option>
                                          <option [ngValue]="3">3</option>
                                          <option [ngValue]="4">4</option>
                                          <option [ngValue]="5">5</option>
                                          <option [ngValue]="6">6</option>
                                          <option [ngValue]="7">7</option>
                                          <option [ngValue]="8">8</option>
                                          <option [ngValue]="9">9</option>
                                          <option [ngValue]="10">10</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-sm-12">
                                       <label for="expiration" class="control-label small bold">Takip Edilecek Hesaplar
                                          (, ile ayırınız)</label>
                                       <input class="form-control update-form" type="text" formControlName="must_followed"
                                          placeholder="Takip edilmesi zorunlu olan hesapları irgül ile ayırarak girin"
                                          required="">
                                    </div>
                                    <!--<div class="form-group col-sm-6">
                                       <label for="expiration" class="control-label small bold">Çekiliş Paketi</label>
                                       <select id="cars" class="form-control" formControlName="package">
                                          <option [ngValue]="0">1000 Yorum (Ücretsiz)</option>
                                          <ng-container *ngFor="let sale of sales">
                                             <option *ngIf="sale.remaining > 0" [ngValue]="sale.id">{{
                                                sale.package.description }}</option>
                                          </ng-container>
                                       </select>
                                    </div>-->
                                 </div>
                                 
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <div class="row gap-y">
                  <div class="col-md-12">
                     <div class="form-row" *ngIf="isInsufficient">
                        <div class="alert alert-danger" role="alert"
                           style="width: 100%; text-align: center; font-weight: bold">Üzgünüz, seçtiğiniz
                           paket bu çekiliş için yetersiz. 😢</div>
                     </div>
                  </div>
               </div>
               <div class="row gap-y" *ngIf="giveaway?.status == 0">
                  <div class="col-md-12">
                     <div class="card">
                        <div class="card-body">
                           <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                              <div class="radio radio-primary">
                                 <input class="form-control" type="radio" id="free-0" value="0" name="package" formControlName="package"> 
                                 <label class="control-label text-darker" for="free-0">1000 Yoruma Kadar</label>
                              </div>
                              <div class="ml-sm-auto">
                                 <span class="font-sm text-primary">Sınırsız</span>
                              </div>
                           </div>
                           <p class="small text-muted my-0 ml-4">Ücretsiz</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12" *ngFor="let sale of sales">
                     <div class="card">
                        <div class="card-body">
                           <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                              <div class="radio radio-primary">
                                 <input class="form-control" type="radio" id="free-{{ sale?.package_id }}" value="{{ sale?.package_id }}" name="package" formControlName="package"> 
                                 <label class="control-label text-darker" for="free-{{ sale?.package_id }}">{{ sale?.package.description }}</label>
                              </div>
                              <div class="ml-sm-auto">
                                 <span class="font-sm text-primary" *ngIf="sale?.remaining > 10">Sınırsız</span>
                                 <span class="font-sm text-primary" *ngIf="sale?.remaining <= 10">{{ sale?.remaining }} Kalan Hak</span>
                              </div>
                           </div>
                           <p class="small text-muted my-0 ml-4">İşlem Tarihi: {{ sale?.createdAt  | amDateFormat:'DD.MM.YYYY HH:mm'}}</p>
                        </div>
                     </div>
                  </div>
               </div>
               <!--
              status: 0 => Yorum çekme başlamadı
              status: 1 => Yorum çekme başladı, çekiliş yapılmadı
              status: 2 => Yorum çekme tamamlandı, çekiliş yapılmadı
              status: 3 => Çekiliş tamamlandı
           -->
               <div class="row" style="margin-top:20px; margin-left: 0px; margin-right: 0px" *ngIf="(giveaway?.status == 2 || completePercent == 100) && giveaway.status != 3">
                  <div class="alert alert-icon alert-warning" role="alert" style="width: 100%; font-size: 13px"><i
                        class="icon fas fa-exclamation-triangle"></i> Sesli komut ile yönetim için mikrofon izni
                     vermeniz gerekmektedir.<br />Çekilişinizi başlatmak için yalnızca <b>"Çekilişi Başlat"</b>
                     diyebilirsiniz.</div>
               </div>
               <div class="row" style="margin-top:20px; margin-left: 0px; margin-right: 0px" *ngIf="giveaway?.status == 3">
                  <div class="alert alert-icon alert-warning" role="alert" style="width: 100%; font-size: 13px"><i
                        class="icon fas fa-exclamation-triangle"></i> Sesli komut ile yönetim için mikrofon izni
                     vermeniz gerekmektedir.<br />Çekilişinizi tekrarlamak için yalnızca <b>"Çekilişi Tekrarla"</b>
                     diyebilirsiniz.</div>
               </div>
               <div class="row">
                  <div class="col-12" *ngIf="giveaway?.status == 1 || giveaway?.status == 2">
                     <div class="animate-bars">
                        <ul class="progress-bars horizontal-demo-bars progress-horizontal">
                           <li>
                              <p style="font-weight: bold" *ngIf="counts?.downloaded_comments < (counts?.comment_count + counts?.comment_count_2 + counts?.comment_count_3)">{{
                                 counts?.downloaded_comments }} / {{ counts?.comment_count + counts?.comment_count_2 + counts?.comment_count_3 }} yorum çekildi<span>{{
                                    completePercent }}%</span></p>
                              <p style="font-weight: bold" *ngIf="counts?.downloaded_comments >= (counts?.comment_count + counts?.comment_count_2 + counts?.comment_count_3)">
                                 {{ counts?.comment_count + counts?.comment_count_2 + counts?.comment_count_3 }} / {{ counts?.comment_count + counts?.comment_count_2 + counts?.comment_count_3 }} yorum çekildi<span>{{
                                    completePercent }}%</span></p>
                              <div class="progress progress-default" style="width: 100%;">
                                 <div class="progress-bar" [ngStyle]="{ 'width': completePercent+'%' }"></div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <br />
                  </div>
                  <div class="col-12" *ngIf="giveaway?.status == 0 && !commentsFetching" style="margin-top: 10px"><button class="btn btn-primary btn-block"
                     type="submit"><span class="mr-2">Yorumları Çekmeye Başla</span> <i
                           class="fas fa-chevron-right"></i></button></div>
                           <div class="col-12" *ngIf="giveaway?.status == 0 && commentsFetching" style="margin-top: 10px"><button class="btn btn-primary btn-block"
                              type="button"><i
                                    class="fas fa-spinner fa-pulse"></i></button></div>
                  <div class="col-3" *ngIf="(giveaway?.status == 2 || completePercent == 100) && giveaway.status != 3"
                     style="margin-top: 10px">Geri Sayım:</div>
                  <div class="col-3" *ngIf="(giveaway?.status == 2 || completePercent == 100) && giveaway.status != 3">
                     <div class="form-group mb-0">
                        <select class="form-control valid" id="q1" aria-invalid="false" [(ngModel)]="countDown"
                           [ngModelOptions]="{standalone: true}" (change)="remainingTime = countDown">
                           <option [ngValue]="i+10" *ngFor="let item of [].constructor(81); let i = index">{{ i+10 }}
                              Saniye</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-6" *ngIf="(giveaway?.status == 2 || completePercent == 100) && giveaway.status != 3">
                     <a class="btn btn-primary btn-block" id="start-giveaway" (click)="doGiveaway(giveaway?.code)"
                        style="color: #fff"><span>Çekilişi Başlat</span></a>
                  </div>
                  <div class="col-6" *ngIf="giveaway?.status == 3"><a class="btn btn-info btn-block" id="again-giveaway"
                        (click)="doGiveaway(giveaway?.code)" style="color: #fff;"><i
                           class="fas fa-chevron-left mr-2"></i> <span>Çekilişi Tekrarla</span></a></div>
                  <div class="col-6" *ngIf="giveaway?.status == 3"><a class="btn btn-warning btn-block"
                        (click)="showResults()" style="color: #fff;"><span class="mr-2">Sonuçları Gör</span> <i
                           class="fas fa-chevron-right"></i></a></div>
               </div>
            </form>
         </div>
         <!-- Sidebar-->
         <aside class="col-lg-5 pt-5 pt-lg-0">
            <div class="card shadow border-0 rounded-lg">
               <div class="card card-blog shadow-box shadow-hover border-0">
                  <a href="#"><img class="card-img-top img-responsive" src="{{ giveaway?.display_url }}" alt=""></a>
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center">
                           <img class="author-picture rounded-circle icon-md shadow-box"
                              src="{{ giveaway?.profile_pic_url }}" alt="...">
                           <p class="small bold my-0 author-username">@{{ giveaway?.username }}</p>
                        </div>
                        <nav class="nav">
                           <a href="javascript:;"
                              class="d-flex align-items-center text-secondary mr-3 blog-action blog-favorite">
                              <i class="far fa-heart mr-2"></i> <span class="small">{{ giveaway?.like_count }}</span>
                           </a>
                           <a href="javascript:;"
                              class="d-flex align-items-center text-secondary blog-action blog-bookmark">
                              <i class="far fa-comment mr-2"></i> <span class="small">{{ giveaway?.comment_count
                                 }} <span *ngIf="giveaway?.comment_count_2 > 0">+ {{ giveaway?.comment_count_2
                                 }}</span> <span *ngIf="giveaway?.comment_count_3 > 0">+ {{ giveaway?.comment_count_3
                                 }}</span></span>
                           </a>
                        </nav>
                     </div>
                     <hr>
                     <!--<p class="card-title regular"><a href="blog-post.html">5 Reasons to Choose DashCore</a></p>-->
                     <p class="card-text text-secondary" id="style-7">{{ giveaway?.caption }}</p>
                     <p class="bold small text-secondary my-0"><small>{{ (giveaway?.post_date | amFromUnix) |
                           amDateFormat:'DD/MM/YYYY HH:mm'}}</small></p>
                     <br />
                     <a class="btn btn-info btn-block mb-2" type="button"
                        href="https://www.instagram.com/p/{{ giveaway?.shortcode }}/" target="_blank"><i
                           class="fab fa-instagram"></i> Post'a Git</a>
                     <a class="btn btn-info btn-block mb-2" type="button" *ngIf="giveaway?.shortcode_2 != null"
                        href="https://www.instagram.com/p/{{ giveaway?.shortcode_2 }}/" target="_blank"><i
                           class="fab fa-instagram"></i> 2. Post'a Git</a>
                     <a class="btn btn-info btn-block mb-2" type="button" *ngIf="giveaway?.shortcode_3 != null"
                        href="https://www.instagram.com/p/{{ giveaway?.shortcode_3 }}/" target="_blank"><i
                           class="fab fa-instagram"></i> 3. Post'a Git</a>
                  </div>
               </div>
            </div>
         </aside>
      </div>
      <div class="row" *ngIf="doingGiveaway">
         <div class="col-lg-12 pt-7">
            <div class="row">
               <div class="col-md-12">
                  <h2 class="mt-0" style="font-weight: bold">Çekiliş Kodu: <a (click)="copyToClipboard(code)"
                        class="btn btn-primary mt-3 mt-md-0 ml-md-auto"
                        style="font-size: 20px; color: #fff; margin-top: -5px!important; margin-left: 15px !important;"
                        (click)="readCode(code)">{{ code }}</a>
                     <button *ngIf="!sound" style="float: right; font-size: 14px" class="btn btn-default btn-xs"
                        (click)="sound = !sound"><i class="fas fa-volume-mute"></i> Sesi Aç</button>
                     <button *ngIf="sound" class="btn btn-default btn-xs" style="float: right; font-size: 14px"
                        (click)="sound = !sound"><i class="fas fa-volume-up"></i> Sesi Kapat</button>
                  </h2>
               </div>
            </div>
            <br /><br />
            <div class="row">
               <div class="col-md-3">
                  <h5 class="mb-5" style="font-weight: bold">Asil Kazananlar</h5>
               </div>
               <div class="col-md-3 offset-md-6">
                  <a class="btn btn-info btn-block" (click)="hideResults()" style="color: #fff;"><span
                        class="mr-2">Çekiliş Detayı</span> <i class="fas fa-chevron-right"></i></a>
               </div>
            </div>
            <div class="row gap-y">
               <ng-container *ngFor="let winner of winners">
                  <div class="col-md-6 col-lg-4 winner-only">
                     <div
                        [ngClass]="[winner.status == 0 ? 'card b-3' : '',  winner.status == 1 ? 'card b-3 green-bg' : '', winner.status == 2 ? 'card b-3 red-bg' : '']">
                        <div class="card-body pt-0 d-flex flex-column align-items-center">
                           <figure
                              class="shadow rounded-circle mt-n5 p-5 mb-4 icon-xxl image-background cover center-top"
                              [ngStyle]="{ 'background-image': 'url(' + winner?.profile_pic_url + ')'}"></figure>
                           <h6 class="bold font-l">{{ winner.username }}</h6>
                           <p class="small mt-0 text-primary text-uppercase" style="text-align: center;">{{ winner.comment_text | slice : 0 : 100 }}</p>
                           <hr class="w-50">
                           <nav class="nav">
                              <button
                                 (click)="changeWinnerStatus(giveaway?.code, winner.order_no, 1, winner.type, winner.status)"
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-check text-secondary"></i> Kazandı
                              </button>
                              <button
                                 (click)="changeWinnerStatus(giveaway?.code, winner.order_no, 2, winner.type, winner.status)"
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-times text-secondary"></i> Diskalifiye
                              </button>
                           </nav>
                           <nav class="nav" *ngIf="giveaway?.must_followed != '' && winner.follow == true && followControlling == false">
                              <br /><br />
                              <button
                                 (click)="startFollowControl(giveaway?.code, winner.owner_id)"
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-user-check text-secondary"></i> Takipçi Kontrolü
                              </button>
                           </nav>
                           <nav class="nav" *ngIf="giveaway?.must_followed != '' && winner.follow == true && followControlling == true">
                              <br /><br />
                              <button
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-spinner fa-pulse text-secondary"></i>
                              </button>
                           </nav>
                           <ng-container *ngIf="giveaway?.must_followed != '' && winner.follow == false">
                              <br />
                              <nav class="nav" *ngFor="let f of winner.follow_control">
                                    <span *ngIf="f.status == 1">
                                       <i class="fas fa-check-circle text-secondary" style="color: green !important"></i>
                                       @{{ f.username }}
                                    </span>
                                    <span *ngIf="f.status == 2">
                                       <i class="fas fa-times-circle text-secondary" style="color: red !important"></i>
                                       @{{ f.username }}
                                    </span>
                                    <span *ngIf="f.status == 3">
                                       <i class="fas fa-exclamation-triangle text-secondary" style="color: yellow !important"></i>
                                       Gizli Hesap
                                    </span>
                              </nav>
                           </ng-container>
                        </div>
                     </div>
                  </div>
               </ng-container>
               <div class="col-md-6 col-lg-4 winner-only" *ngIf="winners.length < giveaway?.winner_count">
                  <div class="card">
                     <div class="card-body pt-0 d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle mt-n5 p-5 mb-4 icon-xxl image-background cover center-top"
                           [ngStyle]="{ 'background-image': 'url(' + dummyProfilePicUrl + ')'}"></figure>
                        <h6 class="bold font-l">{{ dummyUsername }}</h6>
                        <p class="small mt-0 text-primary text-uppercase">{{ remainingTime }}</p>
                        <hr class="w-50">
                        <nav class="nav">
                           <a href="javascript:;" class="nav-item nav-link pb-0">
                              <i class="fas fa-check text-secondary"></i>
                           </a>
                           <a href="javascript:;" class="nav-item nav-link pb-0">
                              <i class="fas fa-times text-secondary"></i>
                           </a>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <br /><br />
            <h5 class="mb-5" style="font-weight: bold">Yedek Kazananlar</h5>
            <div class="row gap-y">
               <ng-container *ngFor="let winner of reserveWinners">
                  <div class="col-md-6 col-lg-4 winner-only">
                     <div
                        [ngClass]="[winner.status == 0 ? 'card b-3' : '',  winner.status == 1 ? 'card b-3 green-bg' : '', winner.status == 2 ? 'card b-3 red-bg' : '']">
                        <div class="card-body pt-0 d-flex flex-column align-items-center">
                           <figure
                              class="shadow rounded-circle mt-n5 p-5 mb-4 icon-xxl image-background cover center-top"
                              [ngStyle]="{ 'background-image': 'url(' + winner?.profile_pic_url + ')'}"></figure>
                           <h6 class="bold font-l">{{ winner.username }}</h6>
                           <p class="small mt-0 text-primary text-uppercase" style="text-align: center;">{{ winner.comment_text }}</p>
                           <hr class="w-50">
                           <nav class="nav">
                              <button
                                 (click)="changeWinnerStatus(giveaway?.code, winner.order_no, 1, winner.type, winner.status)"
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-check text-secondary"></i> Kazandı
                              </button>
                              <button
                                 (click)="changeWinnerStatus(giveaway?.code, winner.order_no, 2, winner.type, winner.status)"
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-times text-secondary"></i> Diskalifiye
                              </button>
                           </nav>
                           <nav class="nav" *ngIf="giveaway?.must_followed != '' && winner.follow == true && followControlling == false">
                              <br /><br />
                              <button
                                 (click)="startFollowControl(giveaway?.code, winner.owner_id)"
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-user-check text-secondary"></i> Takipçi Kontrolü
                              </button>
                           </nav>
                           <nav class="nav" *ngIf="giveaway?.must_followed != '' && winner.follow == true && followControlling == true">
                              <br /><br />
                              <button
                                 class="btn btn-default nav-item nav-link pb-0">
                                 <i class="fas fa-spinner fa-pulse text-secondary"></i>
                              </button>
                           </nav>
                           <ng-container *ngIf="giveaway?.must_followed != '' && winner.follow == false">
                              <br />
                              <nav class="nav" *ngFor="let f of winner.follow_control">
                                 <span *ngIf="f.status == 1">
                                    <i class="fas fa-check-circle text-secondary" style="color: green !important"></i>
                                    @{{ f.username }}
                                 </span>
                                 <span *ngIf="f.status == 2">
                                    <i class="fas fa-times-circle text-secondary" style="color: red !important"></i>
                                    @{{ f.username }}
                                 </span>
                                 <span *ngIf="f.status == 3">
                                    <i class="fas fa-exclamation-triangle text-secondary" style="color: yellow !important"></i>
                                    Gizli Hesap
                                 </span>
                              </nav>
                           </ng-container>
                        </div>
                     </div>
                  </div>
               </ng-container>
               <div class="col-md-6 col-lg-4 winner-only"
                  *ngIf="winners.length == giveaway?.winner_count && reserveWinners.length < giveaway?.reserve_winner_count">
                  <div class="card">
                     <div class="card-body pt-0 d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle mt-n5 p-5 mb-4 icon-xxl image-background cover center-top"
                           [ngStyle]="{ 'background-image': 'url(' + dummyProfilePicUrl + ')'}"></figure>
                        <h6 class="bold font-l">{{ dummyUsername }}</h6>
                        <p class="small mt-0 text-primary text-uppercase">{{ remainingTime }}</p>
                        <hr class="w-50">
                        <nav class="nav">
                           <a href="javascript:;" class="nav-item nav-link pb-0">
                              <i class="fas fa-check text-secondary"></i>
                           </a>
                           <a href="javascript:;" class="nav-item nav-link pb-0">
                              <i class="fas fa-times text-secondary"></i>
                           </a>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<app-footer></app-footer>