.b-md-r {
    border-right: 0px solid #d9e2ef;
}

.pt-4, .py-4 {
    padding-top: 2.5rem!important;
} 

.pt-lg-0, .py-lg-0 {
    padding-top: 150px!important;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

.pt-7, .py-7 {
    padding-top: 10rem!important;
}

.icon-md {
    width: 4.75rem;
    height: 4.75rem;
}

.author-picture {
    margin-top: 45px !important;
}

.author-username {
    font-size: 100%;
}

.card-img-top {
	height: 400px !important;
	object-fit: cover;
}

hr {
	border-top: 1px solid gray;
}

.green-bg {
	background-color: #DAF7A6;
}

.red-bg {
	background-color: rgb(255,0,0, 0.4);
}

.red-bg button {
	color: #fff !important;
}

.red-bg button i {
	color: #fff !important;
}

.red-bg span {
	color: #fff !important;
}

.progress {
	height: 2rem!important;
}

.progress-bar {
	background-color: #0083dd !important;
}

.winner-only {
    padding-top: 100px !important;
}

#style-7 {
    height: 100px;
    overflow: auto;
}

#style-7::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
