<!-- ./Footer - Four Columns -->
<footer class="site-footer section">
    <div class="container pb-3">
      <div class="row gap-y text-center text-md-left footer-mobile">
          <div class="col-md-4 mr-auto">
            <img src="assets/img/logo.png" alt="" class="logo">
            <p>{{ 'CekicemIsASocialMediaSweepstakesTool' | translate }}</p>
          </div>
          <div class="col-md-2">
            <h6 class="py-2 bold">{{ 'Cekicem' | translate }}</h6>
            <nav class="nav flex-column">
              <a class="nav-item py-2" routerLink="/">{{ 'Homepage' | translate }}</a> 
              <a class="nav-item py-2" routerLink="/about-us">{{ 'AboutUs' | translate }}</a> 
              <a class="nav-item py-2" routerLink="/contact-us">{{ 'ContactUs' | translate }}</a>
            </nav>
          </div>
          <div class="col-md-2">
            <h6 class="py-2 bold">{{ 'OurServices' | translate }}</h6>
            <nav class="nav flex-column">
              <a class="nav-item py-2" routerLink="/instagram">Instagram</a> 
              <a class="nav-item py-2" routerLink="/youtube">Youtube</a> 
              <a class="nav-item py-2" routerLink="/other-services">{{ 'Other' | translate }}</a>
            </nav>
          </div>
          <div class="col-md-2">
            <h6 class="py-2 bold">{{ 'Contact' | translate }}</h6>
            <nav class="nav flex-column">
              <a class="nav-item py-2" href="http://cekicem.com"><i class="fas fa-mouse-pointer"></i> www.cekicem.com</a> 
              <a class="nav-item py-2" href="https://instagram.com/cekicemcom" target="_blank"><i class="fab fa-instagram"></i> cekicemcom</a> 
              <a class="nav-item py-2" href="mailto:info@cekicem.com"><i class="fas fa-at"></i> info@cekicem.com</a>
            </nav>
          </div>
      </div>
      <hr class="mt-5 footer-mobile">
      <div class="row small align-items-center">
          <div class="col-md-4">
            <p class="mt-2 mb-md-0 text-secondary text-center text-md-left">© 2020 <a class="footer-site-name" href="https://cekicem.com">{{ 'Cekicem' | translate }}</a>. {{ 'AllRightsReserved' | translate }}</p>
          </div>
          <div class="col-md-8">
            <nav class="nav justify-content-center justify-content-md-end">
                <a href="#" class="btn btn-circle btn-sm btn-secondary op-4">
                  <i class="fab fa-instagram"></i>
                </a>
            </nav>
          </div>
      </div>
    </div>
  </footer>