.site-footer {
    background-color: #4180D5;
}

p, h6, .nav-item {
    color: #fff !important;
}

.footer-site-name {
    color: #fff;
    text-decoration: none;
}

@media (max-width:992px) {
    .footer-mobile {
        display: none !important;
    }
}