<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('../img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section overview">
    <div class="container">
       <div class="row align-items-center gap-y">
          <div class="col-lg-12 mr-auto text-center text-md-left">
            <table class="table table-striped" *ngIf="users?.length > 0">
               <thead>
                  <tr>
                     <th scope="col">#ID</th>
                     <th scope="col">İsim Soyisim</th>
                     <th scope="col">E-Posta Adresi</th>
                     <th scope="col">Telefon Numarası</th>
                     <th scope="col">Oluşturulma Tarihi</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let user of users" (click)="getUserDetail(user.id)">
                     <th scope="row">{{ user.id }}</th>
                     <td>{{ user.name_surname}}</td>
                     <td>{{ user.email }}</td>
                     <td>{{ user.phone_number }}</td>
                     <td>{{ user.createdAt }}</td>
                  </tr>
               </tbody>
            </table>
            <div class="row gap-y" *ngIf="users?.length == 0">
               <div class="col-12" style="text-align: center;">
                  <img src="assets/img/ceki/sadwoman.svg" style="margin-top: 30px; width: 150px"/>
                  <h3 style="margin-top: 50px">Hiç kullanıcı bulunamadı!</h3>
               </div>
            </div>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>