<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
<section class="section">
  <div class="container py-4">
   <div class="row">
      <div class="col-md-12">
         <h2 class="mt-0" style="font-weight: bold">Çekiliş Kodu: 
            <a (click)="copyToClipboard(code)" class="btn btn-primary mt-3 mt-md-0 ml-md-auto" style="font-size: 20px; color: #fff; margin-top: -5px!important; margin-left: 15px !important;">
               {{ code }}
            </a>
         </h2> 
      </div>
   </div>
   <br /><br />
     <div class="row" *ngIf="detail != null">
        <div class="col-lg-7 pt-7">
           <h5 class="mb-5" style="font-weight: bold; text-align: center">Asil Kazananlar</h5>
           <div class="row gap-y" *ngIf="winners?.length > 0">
            <ng-container *ngFor="let winner of winners">
               <div class="col-md-6 col-lg-6 winner-only" *ngIf="winner?.type == 1" style="padding-top: 45px !important">
                  <div [ngClass]="[winner.status == 0 ? 'card b-3' : '',  winner.status == 1 ? 'card b-3 green-bg' : '', winner.status == 2 ? 'card b-3 red-bg' : '']">
                     <div class="card-body pt-0 d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle mt-n5 p-5 mb-4 icon-xxl image-background cover center-top" [ngStyle]="{ 'background-image': 'url(' + winner?.profile_pic_url + ')'}"></figure>
                        <h6 class="bold font-l">{{ winner.username }}</h6>
                        <p class="small mt-0 text-primary text-uppercase">{{ winner.comment_text }}</p>
                        <hr class="w-50">
                        <nav class="nav">
                           <button class="btn btn-default nav-item nav-link pb-0" *ngIf="winner.status == 1">
                              <i class="fas fa-check text-secondary"></i> Kazandı
                           </button>
                           <button class="btn btn-default nav-item nav-link pb-0" *ngIf="winner.status == 2">
                              <i class="fas fa-times text-secondary"></i> Diskalifiye
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </ng-container>
         </div>
         <br /><br />
         <h5 class="mb-5" style="font-weight: bold; text-align: center">Yedek Kazananlar</h5>
         <div class="row gap-y" *ngIf="winners?.length > 0">
            <ng-container *ngFor="let winner of winners">
               <div class="col-md-6 col-lg-6 winner-only" *ngIf="winner?.type == 2" style="padding-top: 45px !important">
                  <div [ngClass]="[winner.status == 0 ? 'card b-3' : '',  winner.status == 1 ? 'card b-3 green-bg' : '', winner.status == 2 ? 'card b-3 red-bg' : '']">
                     <div class="card-body pt-0 d-flex flex-column align-items-center">
                        <figure class="shadow rounded-circle mt-n5 p-5 mb-4 icon-xxl image-background cover center-top" [ngStyle]="{ 'background-image': 'url(' + winner?.profile_pic_url + ')'}"></figure>
                        <h6 class="bold font-l">{{ winner.username }}</h6>
                        <p class="small mt-0 text-primary text-uppercase">{{ winner.comment_text }}</p>
                        <hr class="w-50">
                        <nav class="nav">
                           <button class="btn btn-default nav-item nav-link pb-0" *ngIf="winner.status == 1">
                              <i class="fas fa-check text-secondary"></i> Kazandı
                           </button>
                           <button class="btn btn-default nav-item nav-link pb-0" *ngIf="winner.status == 2">
                              <i class="fas fa-times text-secondary"></i> Diskalifiye
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </ng-container>
         </div>
         <div class="row gap-y" *ngIf="winners?.length == 0">
            <div class="col-md-12 col-lg-12">
               
            </div>
         </div>
        </div>
        <!-- Sidebar-->
        <aside class="col-lg-5 pt-5 pt-lg-0">
           <div class="card shadow border-0 rounded-lg">
              <div class="card card-blog shadow-box shadow-hover border-0">
                 <a href="#"><img class="card-img-top img-responsive" src="{{ detail?.display_url }}" alt=""></a>
                 <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                       <div class="author d-flex align-items-center">
                          <img class="author-picture rounded-circle icon-md shadow-box" src="{{ detail?.profile_pic_url }}" alt="...">
                          <p class="small bold my-0 author-username">@{{ detail?.username }}</p>
                       </div>
                       <nav class="nav">
                          <a href="javascript:;" class="d-flex align-items-center text-secondary mr-3 blog-action blog-favorite">
                             <i class="far fa-heart mr-2"></i> <span class="small">{{ detail?.like_count }}</span> 
                          </a>
                          <a href="javascript:;" class="d-flex align-items-center text-secondary blog-action blog-bookmark">
                             <i class="far fa-comment mr-2"></i> <span class="small">{{ detail?.comment_count }}</span>
                          </a>
                       </nav>
                    </div>
                    <hr>
                    <!--<p class="card-title regular"><a href="blog-post.html">5 Reasons to Choose DashCore</a></p>-->
                    <p class="card-text text-secondary" id="style-7">{{ detail?.caption }}</p>
                    <p class="bold small text-secondary my-0"><small>{{ (detail?.post_date | amFromUnix) | amDateFormat:'DD/MM/YYYY HH:mm'}}</small></p>
                    <br />
                    <a class="btn btn-info btn-block mb-2" type="button" href="https://www.instagram.com/p/{{ detail?.shortcode }}/"><i class="fab fa-instagram"></i>   Post'a Git</a>
                 </div>
              </div>
           </div>
        </aside>
     </div>
      <div class="row gap-y" *ngIf="detail == null">
         <div class="col-12 col-md-12" style="text-align: center;" >
            <img src="assets/img/ceki/sadwoman.svg" style="width: 150px"/>
            <h3 style="margin-top: 50px">Üzgünüz, geçersiz bir çekiliş kodu girdiniz.</h3>
         </div>
      </div>
  </div>
</section>
<app-footer></app-footer>