<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section block bg-contrast">
    <div class="container py-4">
       <div class="row gap-y">
          <div class="col-12 col-md-6">
             <div class="section-heading">
                <p class="text-uppercase">{{ 'ContactUs' | translate }}</p>
                <h2 class="font-md bold"><img src="assets/img/ceki/voicewoman.svg" style="width: 50px;"> {{ 'WeAlwaysListenToYou' | translate }}</h2>
             </div>
             <p class="lead mb-5">{{ 'FeelFreeToContactUs724' | translate }}</p>
             <ul class="list-unstyled list-icon">
                <li>
                   <i class="fas fa-map-marker text-primary"></i>
                   <p>{{ 'Turkey' | translate }}, Izmir</p>
                </li>
                <li>
                   <i class="fab fa-instagram text-primary"></i>
                   <p><a href="https://instagram.com/cekicemcom">@cekicemcom</a></p>
                </li>
                <li>
                   <i class="fas fa-at text-primary"></i>
                   <p><a href="mailto:info@cekicem.com">info@cekicem.com</a></p>
                </li>
             </ul>
          </div>
          <div class="col-12 col-md-6">
             <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" class="form form-contact" name="form-contact" data-response-message-animation="slide-in-up" novalidate="novalidate" *ngIf="!submitted">
                <div class="form-group" *ngIf="!isLogged">
                   <label for="contact_email" class="bold mb-0">{{ 'EMailAddress' | translate }}</label> 
                   <small id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic">{{ 'WeWillNeverShareYourEMail' | translate }}</small> 
                   <input type="email" formControlName="email" id="contact_email" class="form-control bg-contrast" placeholder="{{ 'EMailAddress' | translate }}" required="true">
                  </div>
                <div class="form-group" *ngIf="isLogged">
                   <label for="contact_email" class="bold mb-0">{{ 'EMailAddress' | translate }}</label> 
                   <small id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic">{{ 'WeWillNeverShareYourEMail' | translate }}</small> 
                   <input type="email" formControlName="email_login" id="contact_email" class="form-control bg-contrast" placeholder="{{ 'EMailAddress' | translate }}" readonly>
                  </div>
                <div class="form-group">
                   <label for="contact_email" class="bold">{{ 'Subject' | translate }}</label> 
                   <input type="text" formControlName="subject" id="contact_subject" class="form-control bg-contrast" placeholder="{{ 'Subject' | translate }}" required="true">
                  </div>
                <div class="form-group">
                   <label for="contact_email" class="bold">{{ 'Message' | translate }}</label> 
                   <textarea formControlName="message" id="contact_message" class="form-control bg-contrast" placeholder="{{ 'YouCanSendUsYourQuestions' | translate }}" rows="8" required=""></textarea>
                  </div>
                <div class="form-group"><button id="contact-submit" data-loading-text="Sending..." name="submit" type="submit" class="btn btn-primary btn-rounded">{{ 'Send' | translate }}</button></div>
             </form>
             <div class="alert alert-icon alert-danger" role="alert" *ngIf="error"><i class="icon fas fa-times"></i> {{ 'YourMessageCouldNotBeSent' | translate }}</div>
             <div class="response-message" *ngIf="submitted">
                <div class="section-heading">
                   <i class="fas fa-check font-lg"></i>
                   <p class="font-md m-0">{{ 'ThankYou' | translate }}</p>
                   <p class="response">{{ 'YourMessageHasReachedUs' | translate }}</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>