@media (max-width:992px) {
    h1 {
        text-align: center !important;
    }
    .text-contrast .lead {
        text-align: center !important;
    }
}

#style-7 {
    height: 100px;
    overflow: auto;
}

#style-7::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
