<style>
    .insta-photo {
        width: 200px;
        height: 200px;
     }
  </style>
  <!-- ./Page header -->
  <app-navigation></app-navigation>
  <header class="section header text-contrast automate-social-header">
    <div class="shape-wrapper">
       <div class="shape shape-background shape-main gradient gradient-blue-purple"></div>
       <div class="shape shape-background shape-main shadow"></div>
       <div class="shape shape-background shape-top"></div>
       <div class="shape shape-background shape-right"></div>
    </div>
    <div class="container overflow-hidden">
       <div class="row gap-y">
          <div class="col-lg-6">
             <h1 class="text-contrast extra-bold display-md-3 display-lg-2 font-lg mb-5"><img src="assets/img/ceki/hiwoman.svg" style="width:80px"/> Çeki <span class="d-block light font-md">{{ 'YourNewRafleAssistant' | translate }} 😍</span></h1>
             <p class="text-contrast lead">{{ 'YourNewGenerationInstagramAssistant' | translate }} 😎</p>
             <form [formGroup]="detailForm" (ngSubmit)="onSubmit(detailForm.value)" class="form" data-response-message-animation="slide-in-left" novalidate>
                <div class="input-group-register py-4">
                   <input type="text" formControlName="code" class="form-control shadow-lg bg-contrast form-control-rounded" placeholder="{{ 'SweepstakesCode' | translate }}" required=""> 
                   <button class="btn btn-rounded btn-primary btn-lg text-capitalize" type="submit">{{ 'EnterSweepstakesCode' | translate }}</button>
                </div>
             </form>
             <div class="response-message">
                <i class="fas fa-envelope font-lg"></i>
                <p class="font-md m-0">{{ 'SweepstakesCode' | translate }}</p>
                <p class="response">We sent you an email with a link to get started. You’ll be in your account in no time.</p>
             </div>
          </div>
       </div>
    </div>
    <div class="main-shape-wrapper">
       <div class="bubbles-wrapper">
          <div data-aos="fade-up"><img src="assets/img/v8/header/main-shape.svg" class="img-responsive main-shape floating" alt=""></div>
          <ul class="animations m-0">
             <li class="bubble icon icon-xxl"><img src="assets/img/v8/header/like.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/smile.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-lg"><img src="assets/img/v8/header/heart.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/heart.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xxl"><img src="assets/img/v8/header/smile.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/like.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xxl"><img src="assets/img/v8/header/smile.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/heart.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-lg"><img src="assets/img/v8/header/smile.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/like.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xxl"><img src="assets/img/v8/header/like.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/heart.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xxl"><img src="assets/img/v8/header/like.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/heart.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-lg"><img src="assets/img/v8/header/smile.svg" alt="" class="img-responsive"></li>
             <li class="bubble icon icon-xl"><img src="assets/img/v8/header/like.svg" alt="" class="img-responsive"></li>
          </ul>
       </div>
    </div>
  </header>
  <!-- Features Carousel 
  <section class="section features-carousel b-b">
    <div class="container pt-0">
       <div class="cards-wrapper">
          <div class="swiper-container" data-sw-show-items="4" data-sw-autoplay="3500" data-sw-loop="true" data-sw-nav-arrows=".features-nav" data-sw-breakpoints='{"1024": {"slidesPerView": 4,"spaceBetween": 40},"992": {"slidesPerView": 4,"spaceBetween": 15},"768": {"slidesPerView": 4.5,"spaceBetween": 15},"576": {"slidesPerView": 1.5,"spaceBetween": 10}}'>
             <div class="swiper-wrapper px-1">
                <div class="swiper-slide px-2 px-sm-1" *ngFor="let upcoming of upcomings; let i = index">
                   <div class="card border-0 shadow">
                      <div class="card-body">
                         <div class="logo mx-auto my-3"><img src="{{ upcoming.photo_url }}" class="img-responsive insta-photo" alt=""></div>
                         <hr class="w-50 mx-auto my-3">
                         <p class="bold mt-4">@{{ upcoming.username }}</p>
                         <p class="regular small text-secondary" id="style-7" style="height: 100px; overflow-y: auto">{{ upcoming.caption }}</p>
                      </div>
                      <div class="card-footer d-flex align-items-center justify-content-around">
                         <div class="roi">
                            <p class="text-darker lead bold mb-0">{{ upcoming.comment_cnt }} {{ 'Comments' | translate }}</p>
                            <p class="text-secondary small mt-0">{{ upcoming.follower_cnt}} {{ 'Followers' | translate }}</p>
                         </div>
                         <a href="javascript:;" *ngIf="upcoming.is_verified == 1"><i class="fas fa-check-circle fa-2x"></i></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="text-primary features-nav features-nav-next"><span class="text-uppercase small">{{ 'Next' | translate }}</span> <i class="features-nav-icon fas fa-long-arrow-alt-right"></i></div>
          </div>
       </div>
    </div>
  </section>-->
  <!-- ./Get Started -->
  <!-- ./Why Us -->
  <section class="section why-us overflow-hidden">
    <div class="shape-wrapper">
       <div class="absolute shape-background top right"></div>
    </div>
    <div class="container">
       <div class="section-heading text-center">
          <h2 class="bold">{{ 'WhyCeki' | translate }}</h2>
          <p class="lead text-secondary">{{ 'WeHaveListedAFewOfTheDozensOfReasons' | translate }}</p>
       </div>
       <div class="row gap-y">
          <div class="col-md-5">
             <ul class="list-unstyled why-icon-list">
                <li class="list-item">
                   <div class="media">
                      <div class="rounded-circle bg-info shadow-info text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="clock" width="36" height="36" class="clock"></i></div>
                      <div class="media-body">
                         <h5 class="bold">{{ 'Faster' | translate }}</h5>
                         <p class="my-0">{{ 'SavesYouTimeByQuicklyPullingMillionsOfComments' | translate }}</p>
                      </div>
                   </div>
                </li>
                <li class="list-item">
                   <div class="media">
                      <div class="rounded-circle bg-success shadow-success text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="dollar-sign" width="36" height="36" class="dollar-sign"></i></div>
                      <div class="media-body">
                         <h5 class="bold">{{ 'Affordable' | translate }}</h5>
                         <p class="my-0">{{ 'CekiIsBudgetFriendly' | translate }}</p>
                      </div>
                   </div>
                </li>
                <li class="list-item">
                   <div class="media">
                      <div class="rounded-circle bg-alternate shadow-alternate text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="shield" width="36" height="36" class="shield"></i></div>
                      <div class="media-body">
                         <h5 class="bold">{{ 'Reliable' | translate }}</h5>
                         <p class="my-0">{{ 'PullsAllCommentsAndProvides100SafeDraw' | translate }}</p>
                      </div>
                   </div>
                </li>
                <li class="list-item">
                   <div class="media">
                      <div class="rounded-circle bg-danger shadow-danger text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="coffee" width="36" height="36" class="coffee"></i></div>
                      <div class="media-body">
                         <h5 class="bold">{{ 'EasyToUse' | translate }}</h5>
                         <p class="my-0">{{ 'WithAVoiceCommandYouCanCallTheCeki' | translate }}</p>
                      </div>
                   </div>
                </li>
             </ul>
          </div>
          <div class="col-md-7">
             <figure data-aos="fade-left"><img src="assets/img/ceki/hiwoman.svg" class="img-responsive" alt=""></figure>
          </div>
       </div>
       <div class="mt-5 text-center">
          <a routerLink="/register" class="btn btn-primary btn-rounded">{{ 'RegisterNowToMeetCeki' | translate }}</a>
          <p class="small">- {{ 'or' | translate }} -</p>
          <a rotuerLink="/contact-us" class="btn btn-link">{{ 'ContactUsForMoreInformation' | translate }}</a>
       </div>
    </div>
  </section>
  <!-- Successful Implementations
  <section class="section image-background overlay overlay-contrast alpha-5 contain" style="background-image: url(img/shps/map-dots.svg);">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-md-5 mr-md-auto">
             <span class="rounded-pill shadow-box py-2 px-4 badge badge-info">Why customer trust us</span>
             <p class="font-md display-md-1 light m-0 text-darker"><span class="counter extra-bold">123</span>K</p>
             <p class="m-0 font-md text-primary"><span class="bold">Happy</span> Customers</p>
             <hr class="my-4 w-25">
             <p class="small text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque aut earum esse et exercitationem fuga</p>
          </div>
          <div class="col-md-6">
             <i data-feather="thumbs-up" width="48" height="48" class="stroke-primary"></i>
             <div class="section-heading">
                <h2 class="bold font-md display-md-4">Tons of successful implementations</h2>
                <p class="lead text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at commodi cum dignissimos ducimus hic nemo quia ut velit.</p>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos dolorem libero officiis quo repellendus voluptatibus! A assumenda eius excepturi labore minima nesciunt quod ratione, reiciendis repellat sapiente veritatis vero!</p>
             <a href="javascript:;" class="btn btn-rounded btn-primary mt-4">Learn more</a>
          </div>
       </div>
    </div>
  </section>
  -->
  <!-- ./Counters -->
  <section class="section">
    <div class="shape-wrapper">
       <div class="shape shape-background shape-right"></div>
       <div class="shape shape-background top shape-left bg-info op-1"></div>
    </div>
    <div class="container">
       <div class="row align-items-center text-center text-lg-left">
          <div class="col-12 col-md-7 col-lg-6 mr-lg-auto text-center text-md-left">
             <p class="small text-primary bold">{{ 'OurStatistics' | translate }}</p>
             <h2 class="bold">{{ 'WhyCekicemIsTheBestAlternative' | translate }}</h2>
             <p class="text-secondary">{{ 'EvenThoughTheCekiWasJustBorn' | translate }}</p>
          </div>
          <div class="col-12 col-md-5 col-lg-5">
             <div class="row no-gutters">
                <div class="col-6 mb-3 pr-3">
                   <div class="rounded shadow-box p-2 p-sm-3 d-flex align-items-center flex-wrap bg-contrast">
                      <i data-feather="user" width="36" height="36" class="mr-4 stroke-secondary"></i>
                      <div class="text-left">
                         <p class="counter font-md bold m-0 text-info">{{ stats?.user_cnt }}</p>
                         <p class="m-0">{{ 'Users' | translate }}</p>
                      </div>
                   </div>
                </div>
                <div class="col-6 mb-3">
                   <div class="rounded shadow-box p-2 p-sm-3 d-flex align-items-center flex-wrap bg-primary text-contrast">
                      <i data-feather="instagram" width="36" height="36" class="mr-4 stroke-contrast"></i>
                      <div class="text-left">
                         <p class="counter font-md bold m-0">{{ stats?.raffle_cnt }}</p>
                         <p class="m-0">{{ 'Sweepstakes' | translate }}</p>
                      </div>
                   </div>
                </div>
                <div class="col-6 pr-3">
                   <div class="rounded shadow-box p-2 p-sm-3 d-flex align-items-center flex-wrap bg-contrast">
                      <i data-feather="smile" width="36" height="36" class="mr-4 stroke-secondary"></i>
                      <div class="text-left">
                         <p class="counter font-md bold m-0 text-info">{{ stats?.winner_cnt }}</p>
                         <p class="m-0">{{ 'Winners' | translate }}</p>
                      </div>
                   </div>
                </div>
                <div class="col-6">
                   <div class="rounded shadow-box p-2 p-sm-3 d-flex align-items-center flex-wrap bg-primary bg-contrast">
                      <i data-feather="message-circle" width="36" height="36" class="mr-4 stroke-secondary"></i>
                      <div class="text-left">
                         <p class="counter font-md bold m-0 text-info">{{ stats?.comment_cnt }}</p>
                         <p class="m-0">{{ 'Comments' | translate }}</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </section>
  <!-- ./Brands -->
  <section class="section bg-contrast edge top-left b-b">
    <div class="container pt-5">
       <div class="d-flex align-items-center flex-column flex-md-row">
          <div class="text-center text-md-left">
             <p class="light mb-0 text-primary lead">{{ 'ReadyToMeetTheCeki' | translate }}</p>
             <h2 class="mt-0">{{ 'SignUpNow' | translate }}</h2>
          </div>
          <a routerLink="/register" class="btn btn-primary btn-rounded mt-3 mt-md-0 ml-md-auto">{{ 'RegisterNow' | translate }}</a>
       </div>
    </div>
  </section>
  <app-footer></app-footer>