 <app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section block bg-contrast">
    <div class="container py-4">
       <div class="row gap-y">
         
       </div>
    </div>
 </section>
<app-footer></app-footer>