<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="block bg-contrast">
   <div class="container py-4">
      <div class="row align-items-center">
         <div class="col-md-4" style="text-align: center">
            <div class="device iphone-x">
               <div class="screen"><img src="assets/img/ceki/heartwoman.svg" class="img-responsive" alt="" style="height:400px"></div>
               <div class="notch"></div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="section-heading">
               <h2><span class="bold">{{ 'YourProfileInformation' | translate }}</span></h2>
            </div>
            <p>{{ 'YouCanViewAndEditYourAccount' | translate }}</p>
            <form [formGroup]="myProfileForm" (ngSubmit)="onSubmit(myProfileForm.value)" class="form form-contact" name="support-form" novalidate="novalidate">
               <div class="row">
                  <div class="col-sm-6 form-group">
                     <input type="email" formControlName="email" id="support_email" class="form-control" placeholder="{{ 'EMailAddress' | translate }}" required="" aria-required="true" value="{{ userInfo.email }}" [readonly]="true">
                  </div>
                  <div class="col-sm-6 form-group">
                     <input type="text" formControlName="name_surname" id="support_full_name" class="form-control" placeholder="{{ 'NameSurname' | translate }}" required="true" value="{{ userInfo.name_surname }}" aria-required="true">
                  </div>
                  <div class="col-sm-6 form-group">
                     <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" formControlName="phone_number" id="support_message" class="form-control" placeholder="{{ 'PhoneNumber' | translate }}" value="{{ userInfo.phone_number }}" required="" aria-required="false">
                  </div>
                  <div class="col-sm-6 form-group" style="display: none">
                     <select formControlName="lang" id="cars" class="form-control" [(ngModel)]="currentLang">
                        <option [ngValue]="lang.code" *ngFor="let lang of langs">{{ lang.name | translate }}</option>
                      </select>
                  </div>
               </div>
               <button data-loading-text="Sending..." type="submit" class="btn btn-rounded btn-primary">{{ 'Save' | translate }}</button>
            </form>
         </div>
      </div>
   </div>
</section>
<app-footer></app-footer>