<app-navigation></app-navigation>
 <header class="page header text-contrast overlay alpha-8 image-background cover gradient gradient-purple-blue" style="background-image: url('img/bg/waves.jpg')">
    <div class="divider-shape">
       <!-- waves divider --> 
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
          <path class="shape-fill shape-fill-contrast" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
       </svg>
    </div>
    <div class="container" style="">
       <div class="row">
          <div class="col-md-6">
             <h1 class="regular display-4 text-contrast mb-4">Gizlilik Sözleşmesi</h1>
             <p class="lead text-contrast">Çekicem.com sizlere daha hızlı, daha kolay ve daha az maliyetli çekilişler yapmanıza olanak sağlama adına 2020 yılında hayata geçirdiğimiz projemizdir.</p>
          </div>
       </div>
    </div>
 </header>
 <section class="section overview">
    <div class="container">
       <div class="row align-items-center gap-y">
          <div class="col-lg-12 mr-auto text-center text-md-left">
             <div class="section-heading">
                <p class="badge badge-success bold">Çekicem.com ile bir adım öteye</p>
                <h2>Amacımız ve Hedefimiz</h2>
                <p class="lead text-secondary">Gün geçtikçe sosyal medya üzerinde yapılan çekilişler artmakta ve hem çekilişi yapanlar, hem de çekilişe katılanlar için hızlı, güvenilir ve uygun fiyatlı bir platform gerektiğini düşünmekteyiz. Kendi geliştirdiğimiz %100 güvenilir algoritmamızla çekişler gerçekleştiriyoruz.</p>
             </div>
             <p>Son 50, son 100 yorum arasından değil tüm yorumları çekerek ve bunu çekiliş sahiplerine kanıtlayarak çekilişe katılanların harcadıkları emeği asla gözardı etmiyoruz.</p>
             <p>Çekicem.com için 2021 yılı hedefimizde, alanında tek, uygun fiyatlı, yenilikçi ve güvenilir, alternatifsiz bir platform olma yolunda ilerlemektir.</p>
             <p>Algoritmalarımız, kodlarımız ve sunucularımızla tamamen yerli ve milli kaynakları kullanarak geliştirdiğimiz teknolojilerle dünyada da bu alanda adı anılır bir start-up olmayı hedefliyoruz.</p>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>