 <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay gradient gradient-purple-navy alpha-7 image-background cover" style="background-image:url('../../assets/img/loginbg.jpg')">
          <div class="content">
             <h2 class="display-4 display-md-3 text-contrast mt-4 mt-md-0"><span class="bold d-block"> <img src="assets/img/ceki/hiwoman.svg" class="img-responsive" alt="" style="width:150px; display:inline"> Hoşgeldiniz</span> </h2>
             <p class="lead text-contrast">{{ 'WelcomeToThePrivilegedWorldOfCeki' | translate }}</p>
             <div class="mt-5 text-center"><a routerLink="/" class="btn btn-primary btn-rounded">{{ 'ReturnToHomepage' | translate }}</a></div>
          </div>
       </div>
       <div class="col-md-5 col-lg-4 mx-auto">
          <div class="login-form mt-5 mt-md-0">
             <img src="assets/img/logo.png" class="logo img-responsive mb-4 mb-md-6" alt="">
             <h1 class="text-darker bold">{{ 'Login' | translate }}</h1>
             <p class="text-secondary mt-0 mb-4 mb-md-6">{{ 'DontHaveAnAccountYet' | translate }} <br /><a routerLink="/register" class="text-primary bold">{{ 'SignUpNow' | translate }}</a></p>
             <form class="cozy" data-validate-o="submit" novalidate="novalidate" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                <label class="control-label bold small text-uppercase text-secondary">{{ 'EMailAddress' | translate }}</label>
                <div class="form-group has-icon"><input type="text" id="login_username" formControlName="email" class="form-control form-control-rounded" placeholder="{{ 'EMailAddress' | translate }}" required=""> <i class="icon fas fa-user"></i></div>
                <label class="control-label bold small text-uppercase text-secondary">{{ 'Password' | translate }}</label>
                <div class="form-group has-icon"><input type="password" id="login_password" formControlName="password" class="form-control form-control-rounded" placeholder="{{ 'Password' | translate }}" required=""> <i class="icon fas fa-lock"></i></div>
                <div class="form-group d-flex align-items-center justify-content-between">
                   <a routerLink="/forget-password" class="text-warning small">{{ 'ForgotYourPassword' | translate }}</a>
                   <div class="ajax-button">
                      <div class="fas fa-check btn-status text-success success"></div>
                      <div class="fas fa-times btn-status text-danger failed"></div>
                      <button type="submit" class="btn btn-primary btn-rounded">{{ 'Login' | translate }} <i class="fas fa-long-arrow-alt-right ml-2"></i></button>
                   </div>
                </div>
             </form>
             <div class="alert alert-icon alert-danger" role="alert" *ngIf="userNotFound"><i class="icon fas fa-times"></i> Kullanıcı bulunamadı!</div>
             <div class="alert alert-icon alert-danger" role="alert" *ngIf="userBlocked"><i class="icon fas fa-times"></i> Hesabınız engellenmiştir! Bir hata olduğunu düşünüyorsanız bizimle iletişime geçebilirsiniz.</div>
          </div>
       </div>
    </div>
 </div>