 <app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section id="scroll-field" class="block bg-contrast" style="margin-top: 0rem">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
               <h4 class="mt-0"> <a (click)="startPayment('MORE', 100)" class="btn btn-primary mt-3 mt-md-0 ml-md-auto" style="font-size: 20px; color: #fff; margin-top: -5px!important; margin-left: 15px !important;">Aylık Sınırsız Çekiliş Sadece: <b>449.99 TL</b> Heman Al</a></h4> 
            </div>
         </div>
         <br /><br />
       <div class="text-center">
          <div class="btn-group btn-group-toggle pricing-table-basis" data-toggle="buttons">
                 <label class="btn btn-info active" (click)="choosePackage('2K')">
                     <input type="radio" name="pricing-value" value="2bin" autocomplete="off" checked="checked"> {{ '2K' | translate }}
                 </label> 
                 <label class="btn btn-info" (click)="choosePackage('10K')">
                     <input type="radio" name="pricing-value" value="10bin" autocomplete="off"> {{ '10K' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('25K')">
                     <input type="radio" name="pricing-value" value="25bin" autocomplete="off"> {{ '25K' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('75K')">
                     <input type="radio" name="pricing-value" value="75bin" autocomplete="off"> {{ '75K' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('200K')">
                     <input type="radio" name="pricing-value" value="200bin" autocomplete="off"> {{ '200K' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('500K')">
                     <input type="radio" name="pricing-value" value="500bin" autocomplete="off"> {{ '500K' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('1MIL')">
                     <input type="radio" name="pricing-value" value="1milyon" autocomplete="off"> {{ '1Mil' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('25MIL')">
                     <input type="radio" name="pricing-value" value="2.5milyon" autocomplete="off"> {{ '2.5Mil' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('5MIL')">
                     <input type="radio" name="pricing-value" value="5milyon" autocomplete="off"> {{ '5Mil' | translate }}
                 </label>
                 <label class="btn btn-info" (click)="choosePackage('MORE')">
                     <input type="radio" name="pricing-value" value="more" autocomplete="off"> {{ 'More' | translate }}
                 </label>
             </div>
          <p>{{ 'TakeAdvantageOfUpTo40Discount' | translate }}</p>
       </div>
       <div class="row">
          <div class="col-md-4 mt-5">
             <div class="card text-center">
                <div class="pricing card-header bg-light-gradient d-flex align-items-center flex-column">
                   <h4 class="">{{ 'Disposable' | translate }}</h4>
                   <div class="pricing-value">
                   <span class="price bold odometer odometer-auto-theme" [attr.data-2bin-price]="packages[0]?.price" [attr.data-10bin-price]="packages[3]?.price" [attr.data-25bin-price]="packages[6]?.price" [attr.data-75bin-price]="packages[9]?.price" [attr.data-200bin-price]="packages[12]?.price" [attr.data-500bin-price]="packages[15]?.price" [attr.data-1milyon-price]="packages[18]?.price" [attr.data-2.5milyon-price]="packages[21]?.price" [attr.data-5milyon-price]="packages[24]?.price" [attr.data-more-price]="packages[27]?.price">
                         <div class="odometer-inside">
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">4</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                             <span class="odometer-formatting-mark odometer-radix-mark">.</span>
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">9</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">9</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                         </div>
                      </span>
                   </div>
                   <p>{{ 'AllStandartFeaturesAreIncluded' | translate }}</p>
                </div>
                <ul class="list-group list-group-flush">
                   <!--<li class="list-group-item strike-through">Cras justo odio</li>-->
                   <li class="list-group-item">{{ 'RepeatNonRepeatCommentSorting' | translate }}</li>
                   <li class="list-group-item">Sınırsız Tekrar Çekiliş</li>
                   <li class="list-group-item">{{ 'AutomaticFollowerControl' | translate }}</li>
                   <li class="list-group-item">Çoklu Post İle Çekiliş</li>
                   <li class="list-group-item">Aylık Üyelik Fırsatı</li>
                   <li class="list-group-item">Canlı Destek</li>
                   <li class="list-group-item">Sesli Komut İle Çekiliş</li>
                   <li class="list-group-item">Sesli Asistan İle Çekiliş Sonucu</li>
                   <li class="list-group-item">Animasyon Süresi Belirleme</li>
                   <li class="list-group-item">Son Kullanma Tarihi Yok</li>
                   <!--<li class="list-group-item">{{ 'SharingSweetpstakes' | translate }}</li>
                   <li class="list-group-item">{{ 'SpecialCertificateForYourLottery' | translate }}</li>-->
                </ul>
                <div class="card-body"><a (click)="startPayment(package, 1)" class="btn btn-outline-secondary">{{ 'BuyNow' | translate }}</a></div>
             </div>
          </div>
          <div class="col-md-4 mt-5">
             <div class="card text-center">
                <div class="pricing card-header bg-light-gradient d-flex align-items-center flex-column">
                   <h4 class="">{{ 'PackOf3' | translate }}</h4>
                   <div class="pricing-value">
                   <span class="price bold odometer odometer-auto-theme" [attr.data-2bin-price]="packages[1]?.price" [attr.data-10bin-price]="packages[4]?.price" [attr.data-25bin-price]="packages[7]?.price" [attr.data-75bin-price]="packages[10]?.price" [attr.data-200bin-price]="packages[13]?.price" [attr.data-500bin-price]="packages[16]?.price" [attr.data-1milyon-price]="packages[19]?.price" [attr.data-2.5milyon-price]="packages[22]?.price" [attr.data-5milyon-price]="packages[25]?.price" [attr.data-more-price]="packages[28]?.price">
                         <div class="odometer-inside">
                             <span class="odometer-digit">
                                <span class="odometer-digit-spacer">6</span>
                                <span class="odometer-digit-inner">
                                    <span class="odometer-ribbon">
                                        <span class="odometer-ribbon-inner">
                                            <span class="odometer-value">9</span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                             <span class="odometer-formatting-mark odometer-radix-mark">.</span>
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">9</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">9</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                         </div>
                      </span>
                   </div>
                   <p>{{ 'AllStandartFeaturesAreIncluded' | translate }}</p>
                </div>
                <ul class="list-group list-group-flush">
                   <!--<li class="list-group-item strike-through">Cras justo odio</li>-->
                   <li class="list-group-item">{{ 'RepeatNonRepeatCommentSorting' | translate }}</li>
                   <li class="list-group-item">Sınırsız Tekrar Çekiliş</li>
                   <li class="list-group-item">{{ 'AutomaticFollowerControl' | translate }}</li>
                   <li class="list-group-item">Çoklu Post İle Çekiliş</li>
                   <li class="list-group-item">Aylık Üyelik Fırsatı</li>
                   <li class="list-group-item">Canlı Destek</li>
                   <li class="list-group-item">Sesli Komut İle Çekiliş</li>
                   <li class="list-group-item">Sesli Asistan İle Çekiliş Sonucu</li>
                   <li class="list-group-item">Animasyon Süresi Belirleme</li>
                   <li class="list-group-item">Son Kullanma Tarihi Yok</li>
                   <!--<li class="list-group-item">{{ 'SharingSweetpstakes' | translate }}</li>
                   <li class="list-group-item">{{ 'SpecialCertificateForYourLottery' | translate }}</li>-->
                </ul>
                <div class="card-body"><a (click)="startPayment(package, 3)" class="btn btn-outline-secondary">{{ 'BuyNow' | translate }}</a></div>
             </div>
          </div>
          <div class="col-md-4 mt-5">
             <div class="card text-center">
                <div class="pricing card-header bg-light-gradient d-flex align-items-center flex-column">
                   <h4 class="">{{ 'PackOf5' | translate }}</h4>
                   <div class="pricing-value">
                   <span class="price bold odometer odometer-auto-theme" [attr.data-2bin-price]="packages[2]?.price" [attr.data-10bin-price]="packages[5]?.price" [attr.data-25bin-price]="packages[8]?.price" [attr.data-75bin-price]="packages[11]?.price" [attr.data-200bin-price]="packages[14]?.price" [attr.data-500bin-price]="packages[17]?.price" [attr.data-1milyon-price]="packages[20]?.price" [attr.data-2.5milyon-price]="packages[23]?.price" [attr.data-5milyon-price]="packages[26]?.price" [attr.data-more-price]="packages[29]?.price">
                         <div class="odometer-inside">
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">1</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                             <span class="odometer-digit">
                                <span class="odometer-digit-spacer">6</span>
                                <span class="odometer-digit-inner">
                                    <span class="odometer-ribbon">
                                        <span class="odometer-ribbon-inner">
                                            <span class="odometer-value">4</span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                             <span class="odometer-formatting-mark odometer-radix-mark">.</span>
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">9</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                             <span class="odometer-digit">
                                 <span class="odometer-digit-spacer">6</span>
                                 <span class="odometer-digit-inner">
                                     <span class="odometer-ribbon">
                                         <span class="odometer-ribbon-inner">
                                             <span class="odometer-value">9</span>
                                         </span>
                                     </span>
                                 </span>
                             </span>
                         </div>
                      </span>
                   </div>
                   <p>{{ 'AllStandartFeaturesAreIncluded' | translate }}</p>
                </div>
                <ul class="list-group list-group-flush">
                   <!--<li class="list-group-item strike-through">Cras justo odio</li>-->
                   <li class="list-group-item">{{ 'RepeatNonRepeatCommentSorting' | translate }}</li>
                   <li class="list-group-item">Sınırsız Tekrar Çekiliş</li>
                   <li class="list-group-item">{{ 'AutomaticFollowerControl' | translate }}</li>
                   <li class="list-group-item">Çoklu Post İle Çekiliş</li>
                   <li class="list-group-item">Aylık Üyelik Fırsatı</li>
                   <li class="list-group-item">Canlı Destek</li>
                   <li class="list-group-item">Sesli Komut İle Çekiliş</li>
                   <li class="list-group-item">Sesli Asistan İle Çekiliş Sonucu</li>
                   <li class="list-group-item">Animasyon Süresi Belirleme</li>
                   <li class="list-group-item">Son Kullanma Tarihi Yok</li>
                   <!--<li class="list-group-item">{{ 'SharingSweetpstakes' | translate }}</li>
                   <li class="list-group-item">{{ 'SpecialCertificateForYourLottery' | translate }}</li>-->
                </ul>
                <div class="card-body"><a (click)="startPayment(package, 5)" class="btn btn-outline-secondary">{{ 'BuyNow' | translate }}</a></div>
             </div>
          </div>
       </div>
       <div #element id='weePay-checkout-form' class='popup' *ngIf="isPayment"></div>
    </div>
  </section>
  <app-footer></app-footer>