@media (min-width:992px) {
    .fa-arrow-right {
        display: none !important;
    }
}

.btn-group, .btn-group-vertical {
    display: block;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    margin-left: 2px;
    margin-top: 2px;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    margin-left: 2px;
    margin-top: 2px;
}