<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section block bg-contrast">
    <div class="container py-4">
       <div class="row gap-y" style="text-align: center">
          <div class="col-12 col-md-12" *ngIf="paymentResult?.is_complete == 0">
            <img src="assets/img/ceki/sadwoman.svg" style="margin-top: 30px; width: 150px"/>
            <h3 style="margin-top: 50px">Üzgünüz, işlem kaydı bulunamadı.<br />Bir hata olduğunu düşünüyorsanız lütfen bizimle iletişime geçiniz!</h3>
          </div>
          <div class="col-12 col-md-12" *ngIf="paymentResult?.is_complete == 1">
            <img src="assets/img/ceki/powerwoman.svg" style="margin-top: 30px; width: 150px"/>
            <h3 style="margin-top: 50px">Tebrikler, ödeme işleminiz tamamlandı!<br /><br />Hemen şimdi çekiliş yapmaya başlayabilirsiniz.</h3>
          </div>
          <div class="col-12 col-md-12" *ngIf="paymentResult?.is_complete == 2">
            <img src="assets/img/ceki/sadwoman.svg" style="margin-top: 30px; width: 150px"/>
            <h3 style="margin-top: 50px">Üzgünüz, ödeme işleminiz başarısız oldu!<br /><br />Hata Mesajı: <b>{{ paymentResult?.result_message }}</b><br /><br />Lütfen tekrar deneyin.</h3>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>