<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('../img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section overview">
    <div class="container">
       <div class="row align-items-center gap-y">
          <div class="col-lg-12 mr-auto text-center text-md-left">
            <table class="table table-striped" *ngIf="sales?.length > 0">
               <thead>
                  <tr>
                     <th scope="col">#ID</th>
                     <th scope="col">Kullanıcı ID</th>
                     <th scope="col">İsim Soyisim</th>
                     <th scope="col">Paket ID</th>
                     <th scope="col">Tutar</th>
                     <th scope="col">Kalan</th>
                     <th scope="col">Satış Tarihi</th>
                     <th scope="col">Güncellenme Tarihi</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let sale of sales">
                     <th scope="row">{{ sale.id }}</th>
                     <td>{{ sale.user_id}}</td>
                     <td>{{ sale.user.name_surname }}</td>
                     <td>{{ sale.package_id }}</td>
                     <td>{{ sale.price }}</td>
                     <td>{{ sale.remaining }}</td>
                     <td>{{ sale.createdAt }}</td>
                     <td>{{ sale.updatedAt }}</td>
                  </tr>
               </tbody>
            </table>
            <div class="row gap-y" *ngIf="sales?.length == 0">
               <div class="col-12" style="text-align: center;">
                  <img src="assets/img/ceki/sadwoman.svg" style="margin-top: 30px; width: 150px"/>
                  <h3 style="margin-top: 50px">Hiç paket satılmadı!</h3>
               </div>
            </div>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>