<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section block bg-contrast">
    <div class="container py-4">
       <div class="row gap-y">
          <div class="col-12 col-md-12" style="overflow-y: auto;">
            <table class="table table-striped" *ngIf="packages?.length > 0">
               <thead>
                  <tr>
                     <th scope="col">#ID</th>
                     <th scope="col">Paket Adı</th>
                     <th scope="col">Kalan Çekiliş Hakkı</th>
                     <th scope="col">Ödenen Tutar</th>
                     <th scope="col">İşlem Tarihi</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let package of packages">
                     <th scope="row">{{ package?.id }}</th>
                     <td>{{ package?.package.description }}</td>
                     <td>{{ package?.remaining }}</td>
                     <td>{{ package?.price }}</td>
                     <td>{{ (package?.createdAt | amFromUtc ) | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</td>
                  </tr>
               </tbody>
            </table>
            <div class="row gap-y" *ngIf="packages?.length == 0">
               <div class="col-12" style="text-align: center;">
                  <img src="assets/img/ceki/sadwoman.svg" style="margin-top: 30px; width: 150px"/>
                  <h3 style="margin-top: 50px">Üzgünüz, henüz hiç paket satın almadınız.</h3>
               </div>
            </div>
          </div>
       </div>
    </div>
 </section>
<app-footer></app-footer>