<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section block bg-contrast">
    <div class="container py-4">
       <div class="row gap-y" *ngIf="giveaways?.length > 0">
          <div class="col-12 col-md-4" *ngFor="let giveaway of giveaways">
            <div class="card shadow border-0 rounded-lg">
               <div class="card card-blog shadow-box shadow-hover border-0">
                  <a [routerLink]="['/giveaway', giveaway?.code]"><img class="card-img-top img-responsive" src="{{ giveaway?.display_url }}" alt=""></a>
                  <div class="card-body">
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center">
                           <img class="author-picture rounded-circle icon-md shadow-box" src="{{ giveaway?.profile_pic_url }}" alt="...">
                           <p class="small bold my-0 author-username">@{{ giveaway?.username }}</p>
                        </div>
                        <nav class="nav">
                           <a href="javascript:;" class="d-flex align-items-center text-secondary mr-3 blog-action blog-favorite">
                              <i class="far fa-heart mr-2"></i> <span class="small">{{ giveaway?.like_count }}</span> 
                           </a>
                           <a href="javascript:;" class="d-flex align-items-center text-secondary blog-action blog-bookmark">
                              <i class="far fa-comment mr-2"></i> <span class="small">{{ giveaway?.comment_count }}</span>
                           </a>
                        </nav>
                     </div>
                     <hr>
                     <!--<p class="card-title regular"><a href="blog-post.html">5 Reasons to Choose DashCore</a></p>-->
                     <p class="card-text text-secondary" id="style-7">{{ giveaway?.caption }}</p>
                     <p class="bold small text-secondary my-0"><small>{{ (giveaway?.post_date | amFromUnix) | amDateFormat:'DD/MM/YYYY HH:mm'}}</small></p>
                     <br />
                     <a class="btn btn-info btn-block mb-2" type="button" [routerLink]="['/giveaway', giveaway?.code]"><i class="fab fa-instagram"></i>   Çekiliş Detayı</a>
                  </div>
               </div>
            </div>
          </div>
       </div>
       <div class="row gap-y" *ngIf="giveaways?.length == 0">
         <div class="col-12" style="text-align: center;">
            <img src="assets/img/ceki/sadwoman.svg" style="margin-top: 30px; width: 150px"/>
            <h3 style="margin-top: 50px">Üzgünüz, henüz hiç çekiliş yapmamışsınız.</h3>
         </div>
      </div>
    </div>
 </section>
<app-footer></app-footer>