.icon-md {
    width: 4.75rem;
    height: 4.75rem;
}

.author-picture {
    margin-top: 45px !important;
}

.author-username {
    font-size: 100%;
}

.card-img-top {
	height: 300px !important;
	object-fit: cover;
}

#style-7 {
    height: 100px;
    overflow: auto;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
