<app-navigation></app-navigation>
<section class="checkout-header page header bg-dark section" *ngIf="userDetail != null">
   <div class="container bring-to-front pt-5 pb-0">
      <div class="page-title">
         <h1 class="regular text-contrast">{{ userDetail.name_surname }}</h1>
         <p class="mb-0 text-muted">{{ userDetail.email }}</p>
      </div>
      <nav class="nav navbar mt-4">
         <a [routerLink]="['/admin/user-detail', userDetail.id]" class="nav-item nav-link">
            <i class="far fa-user mr-2"></i> 
            <span class="d-none d-md-inline">Bilgiler</span> 
         </a>
         <a [routerLink]="['/admin/user-raffles', userDetail.id]" class="nav-item nav-link">
            <i class="far fa-address-card mr-2"></i> 
            <span class="d-none d-md-inline">Çekilişler</span> 
         </a>
         <a [routerLink]="['/admin/user-packages', userDetail.id]" class="nav-item nav-link">
            <i class="far fa-credit-card mr-2"></i> 
            <span class="d-none d-md-inline">Paketler</span> 
         </a>
         <a [routerLink]="['/admin/user-messages', userDetail.id]" class="nav-item nav-link active">
            <i class="far fa-check-square mr-2"></i> 
            <span class="d-none d-md-inline">Mesajlar</span>
         </a>
      </nav>
   </div>
</section>
<section class="section" *ngIf="userDetail != null">
   <div class="container pt-0 mt-n8">
      <div class="row">
         <div class="col-lg-12 pt-9">
            <div class="row gap-y">
                <table class="table table-striped">
                    <thead>
                       <tr>
                          <th scope="col">#</th>
                          <th scope="col">Konu</th>
                          <th scope="col">Mesaj</th>
                          <th scope="col">Tarih</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr *ngIf="messages.length == 0">
                          <td colspan="4" style="text-align:center">Mesaj bulunamadı.</td>
                       </tr>
                       <tr *ngIf="messages.length > 0">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                     </tr>
                    </tbody>
                 </table>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="checkout-header page header bg-dark section" *ngIf="userDetail == null">
      <div class="container bring-to-front pt-5 pb-0">
         <div class="page-title">
            <h1 class="regular text-contrast">Kullanıcı bulunamadı.</h1>
         </div>
      </div>
</section>
<app-footer></app-footer>