<nav class="st-nav navbar main-nav navigation fixed-top navbar-expand-md block" id="main-nav">
   <div class="container">
      <ul class="st-nav-menu nav navbar-nav">
         <li class="st-nav-section nav-item">
            <a routerLink="/" class="navbar-brand">
               <img src="assets/img/logo.png" alt="Dashcore" class="logo logo-sticky d-block d-md-none">
               <img src="assets/img/logo-light.png" alt="Dashcore" class="logo d-none d-md-block">
            </a>
         </li>
         <li class="st-nav-section st-nav-primary nav-item">
            <a class="st-root-link nav-link navi-homepage" routerLink="/" routerLinkActive="active">{{ 'Homepage' | translate }} </a>
            <a class="st-root-link nav-link" routerLink="/create-giveaway" routerLinkActive="active">{{ 'CreateGiveaway' | translate }} </a>
            <a class="st-root-link nav-link" routerLink="/pricing" routerLinkActive="active">{{ 'Pricing' | translate }} </a>
            <a class="st-root-link nav-link" routerLink="/about-us" routerLinkActive="active">{{ 'AboutUs' | translate }} </a>
            <a class="st-root-link nav-link" routerLink="/contact-us" routerLinkActive="active">{{ 'Contact' | translate }} </a>
         </li>
         <li class="st-nav-section st-nav-secondary nav-item" *ngIf="!isLogged">
            <a class="btn btn-rounded btn-outline mr-3 px-3" routerLink="/login" routerLinkActive="active">
               <i class="fas fa-sign-in-alt d-none d-md-inline mr-md-0 mr-lg-2"></i>
               <span class="d-md-none d-lg-inline">{{ 'Login' | translate }}</span>
            </a>
            <a class="btn btn-rounded btn-solid px-3" routerLink="/register" routerLinkActive="active">
               <i class="fas fa-user-plus d-none d-md-inline mr-md-0 mr-lg-2"></i>
               <span class="d-md-none d-lg-inline">{{ 'SignUp' | translate }}</span>
            </a>
         </li>
         <li class="st-nav-section st-nav-secondary nav-item dropdown" *ngIf="isLogged">
            <a class="btn btn-rounded btn-solid px-3 dropdown-toggle" data-toggle="dropdown" href="javascript:;"
               aria-expanded="false">
               <span class="d-md-none d-lg-inline">{{ 'Hello' | translate }} {{ userName }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-admin dropdown-menu-right p-3" *ngIf="isAdmin">
               <div class="row">
                  <div class="col-md-6">
                     <p class="dropdown-heading bold mt-0 pt-0">{{ 'UserMenu' | translate }}</p>
                     <a class="dropdown-item" routerLink="/my-giveaways">{{ 'MyGiveaways' | translate }}</a>
                     <a class="dropdown-item" routerLink="/my-packages">{{ 'MyGiveawayPackages' | translate }}</a>
                     <a class="dropdown-item" routerLink="/my-profile">{{ 'MyAccount' | translate }}</a>
                     <a class="dropdown-item" (click)="logout()">{{ 'Logout' | translate }}</a>
                  </div>
                  <div class="col-md-6">
                     <p class="dropdown-heading bold mt-0 pt-0">{{ 'AdminMenu' | translate }}</p>
                     <a class="dropdown-item" routerLink="/admin/users">{{ 'AllUsers' | translate }}</a>
                     <a class="dropdown-item" routerLink="/admin/raffles">{{ 'Giveaways' | translate }}</a>
                     <a class="dropdown-item" routerLink="/admin/package-sales">{{ 'PackageSales' | translate }}</a>
                     <a class="dropdown-item" routerLink="/admin/contact-us">{{ 'SupportMessages' | translate }}</a>
                  </div>
               </div>
            </div>
            <div class="dropdown-menu dropdown-menu-not-admin dropdown-menu-right p-3" *ngIf="!isAdmin">
               <div class="row" *ngIf="!isAdmin">
                  <div class="col-md-12">
                     <a class="dropdown-item" routerLink="/my-giveaways">{{ 'MyGiveaways' | translate }}</a>
                     <a class="dropdown-item" routerLink="/my-packages">{{ 'MyGiveawayPackages' | translate }}</a>
                     <a class="dropdown-item" routerLink="/my-profile">{{ 'MyAccount' | translate }}</a>
                     <a class="dropdown-item" (click)="logout()">{{ 'Logout' | translate }}</a>
                  </div>
               </div>
            </div>
         </li>
         <li class="st-nav-section st-nav-primary nav-item navi-contact-info">
            <a class="st-root-link nav-link">
               <i class="fab fa-instagram" style="display: inline; margin-right: 5px"></i>cekicemcom
               <br />
               <i class="fas fa-at" style="display: inline; margin-right: 5px"></i>info@cekicem.com
            </a>
         </li>
         <!-- Mobile Navigation -->
         <li class="st-nav-section st-nav-mobile nav-item">
            <button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span
                  class="icon-bar"></span> <span class="icon-bar"></span></button>
            <div class="st-popup">
               <div class="st-popup-container">
                  <a class="st-popup-close-button">Kapat</a>
                  <div class="st-dropdown-content-group">
                     <h4 class="text-uppercase regular">Menü</h4>
                     <a class="regular text-primary" routerLink="/"><i class="fas fa-home mr-2"></i> {{ 'Homepage' | translate }}</a>
                     <a class="regular text-primary" routerLink="/create-giveaway"><i class="fas fa-random mr-2"></i> {{ 'CreateGiveaway' | translate }}</a>
                     <a class="regular text-primary" routerLink="/pricing"><i class="fas fa-hand-holding-usd mr-2"></i> {{ 'Pricing' | translate }}</a>
                     <a class="regular text-primary" routerLink="/about-us"><i class="far fa-question-circle mr-2"></i> {{ 'AboutUs' | translate }}</a>
                     <a class="regular text-primary" routerLink="/contact-us"><i class="fas fa-pencil-alt mr-2"></i> {{ 'Contact' | translate }}</a>
                  </div>
                  <div class="st-dropdown-content-group border-top bw-2" *ngIf="isLogged && isAdmin">
                     <h4 class="text-uppercase regular">{{ 'AdminMenu' | translate }}</h4>
                     <div class="row">
                        <div class="col mr-4">
                           <a routerLink="/my-giveaways">{{ 'MyGiveaways' | translate }}</a>
                           <a routerLink="/my-packages">{{ 'MyGiveawayPackages' | translate }}</a>
                           <a routerLink="/my-profile">{{ 'MyAccount' | translate }}</a>
                           <a (click)="logout()">{{ 'Logout' | translate }}</a>
                        </div>
                        <div class="col mr-4">
                           <a routerLink="/admin/users">{{ 'AllUsers' | translate }}</a>
                           <a routerLink="/admin/raffles">{{ 'Giveaways' | translate }}</a>
                           <a routerLink="/admin/package-sales">{{ 'PackageSales' | translate }}</a> 
                           <a routerLink="/admin/contact-us">{{ 'SupportMessages' | translate }}</a> 
                        </div>
                     </div>
                  </div>
                  <div class="st-dropdown-content-group border-top bw-2" *ngIf="isLogged && !isAdmin">
                     <h4 class="text-uppercase regular">{{ 'UserMenu' | translate }}</h4>
                     <div class="row">
                        <div class="col mr-4">
                           <a routerLink="/my-giveaways">{{ 'MyGiveaways' | translate }}</a>
                           <a routerLink="/my-packages">{{ 'MyGiveawayPackages' | translate }}</a>
                           <a routerLink="/my-profile">{{ 'MyAccount' | translate }}</a>
                           <a (click)="logout()">{{ 'Logout' | translate }}</a>
                        </div>
                     </div>
                  </div>
                  <div class="st-dropdown-content-group bg-light b-t" *ngIf="!isLogged"><a routerLink="/login">{{ 'Login' | translate }} <i class="fas fa-arrow-right"></i></a></div>
                  <div class="st-dropdown-content-group bg-light b-t" *ngIf="!isLogged"><a routerLink="/register">{{ 'SignUp' | translate }} <i class="fas fa-arrow-right"></i></a></div>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div class="st-dropdown-root">
      <div class="st-dropdown-bg">
         <div class="st-alt-bg"></div>
      </div>
      <div class="st-dropdown-arrow"></div>
      <div class="st-dropdown-container">
         <div class="st-dropdown-section" data-dropdown="blocks">
            <div class="st-dropdown-content">
               <div class="st-dropdown-content-group">
                  <div class="row">
                     <div class="col mr-4"><a class="dropdown-item" target="_blank"
                           href="blocks/call-to-action.html">Call to actions</a> <a class="dropdown-item"
                           target="_blank" href="blocks/contact.html">Contact</a> <a class="dropdown-item"
                           target="_blank" href="blocks/counter.html">Counters</a> <a class="dropdown-item"
                           target="_blank" href="blocks/faqs.html">FAQs</a></div>
                     <div class="col mr-4"><a class="dropdown-item" target="_blank"
                           href="blocks/footer.html">Footers</a> <a class="dropdown-item" target="_blank"
                           href="blocks/form.html">Forms</a> <a class="dropdown-item" target="_blank"
                           href="blocks/navbar.html">Navbar</a> <a class="dropdown-item" target="_blank"
                           href="blocks/navigation.html">Navigation</a></div>
                     <div class="col"><a class="dropdown-item" target="_blank" href="blocks/pricing.html">Pricing</a> <a
                           class="dropdown-item" target="_blank" href="blocks/slider.html">Sliders</a> <a
                           class="dropdown-item" target="_blank" href="blocks/team.html">Team</a> <a
                           class="dropdown-item" target="_blank" href="blocks/testimonial.html">Testimonials</a></div>
                  </div>
               </div>
               <div class="st-dropdown-content-group">
                  <h3 class="link-title"><i class="fas fa-long-arrow-alt-right icon"></i> Coming soon</h3>
                  <div class="ml-5"><span class="dropdown-item text-secondary">Dividers </span><span
                        class="dropdown-item text-secondary">Gallery </span><span
                        class="dropdown-item text-secondary">Screenshots</span></div>
               </div>
            </div>
         </div>
         <div class="st-dropdown-section" data-dropdown="pages">
            <div class="st-dropdown-content">
               <div class="st-dropdown-content-group">
                  <div class="mb-4">
                     <h3 class="text-darker light text-nowrap"><span class="bold regular">Useful pages</span> you'll
                        need</h3>
                     <p class="text-secondary mt-0">Get a complete design stack</p>
                  </div>
                  <div class="row">
                     <div class="col">
                        <ul class="mr-4">
                           <li>
                              <h4 class="text-uppercase regular">Error</h4>
                           </li>
                           <li><a target="_blank" href="403.html">403 Error</a></li>
                           <li><a target="_blank" href="404.html">404 Error</a></li>
                           <li><a target="_blank" href="405.html">405 Error</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <ul class="mr-4">
                           <li>
                              <h4 class="text-uppercase regular">User</h4>
                           </li>
                           <li><a target="_blank" href="login.html">Login</a></li>
                           <li><a target="_blank" href="register.html">Register</a></li>
                           <li><a target="_blank" href="forgot.html">Forgot</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <ul>
                           <li>
                              <h4 class="text-uppercase regular">Extra</h4>
                           </li>
                           <li><a target="_blank" href="pricing.html">Pricing</a></li>
                           <li><a target="_blank" href="terms.html">Terms</a></li>
                           <li><a target="_blank" href="faqs.html">FAQ</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="st-dropdown-content-group"><a class="dropdown-item bold" href="about.html"><i
                        class="far fa-building icon"></i> About </a><a class="dropdown-item bold" href="contact.html"><i
                        class="far fa-envelope icon"></i> Contact </a><a class="dropdown-item bold"
                     href="pricing.html"><i class="fas fa-hand-holding-usd icon"></i> Pricing</a></div>
            </div>
         </div>
         <div class="st-dropdown-section" data-dropdown="components">
            <div class="st-dropdown-content">
               <div class="st-dropdown-content-group">
                  <a class="dropdown-item" target="_blank" href="components/color.html">
                     <div class="media mb-4">
                        <i class="fas fa-palette mr-2 bg-primary rounded-circle icon-md text-contrast center-flex"></i>
                        <div class="media-body">
                           <h3 class="link-title m-0">Colors</h3>
                           <p class="m-0 text-secondary">Get to know DashCore color options</p>
                        </div>
                     </div>
                  </a>
                  <a class="dropdown-item" target="_blank" href="components/accordion.html">
                     <div class="media mb-4">
                        <i class="fas fa-bars mr-2 bg-primary rounded-circle icon-md text-contrast center-flex"></i>
                        <div class="media-body">
                           <h3 class="link-title m-0">Accordion</h3>
                           <p class="m-0 text-secondary">Useful accordion elements</p>
                        </div>
                     </div>
                  </a>
                  <a class="dropdown-item" target="_blank" href="components/cookie-law.html">
                     <div class="media mb-4">
                        <i
                           class="fas fa-cookie-bite mr-2 bg-primary rounded-circle icon-md text-contrast center-flex"></i>
                        <div class="media-body">
                           <h3 class="link-title m-0">CookieLaw</h3>
                           <p class="m-0 text-secondary">Comply with the hideous EU Cookie Law</p>
                        </div>
                     </div>
                  </a>
                  <h4 class="text-uppercase regular">Huge components list</h4>
                  <div class="row">
                     <div class="col mr-4"><a class="dropdown-item" target="_blank"
                           href="components/alert.html">Alerts</a> <a class="dropdown-item" target="_blank"
                           href="components/badge.html">Badges</a> <a class="dropdown-item" target="_blank"
                           href="components/button.html">Buttons</a></div>
                     <div class="col mr-4"><a class="dropdown-item" target="_blank"
                           href="components/overlay.html">Overlay</a> <a class="dropdown-item" target="_blank"
                           href="components/progress.html">Progress</a> <a class="dropdown-item" target="_blank"
                           href="components/lightbox.html">Lightbox</a></div>
                     <div class="col mr-4"><a class="dropdown-item" target="_blank" href="components/tab.html">Tabs</a>
                        <a class="dropdown-item" target="_blank" href="components/tables.html">Tables</a> <a
                           class="dropdown-item" target="_blank" href="components/typography.html">Typography</a>
                     </div>
                  </div>
               </div>
               <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank"
                     href="components/wizard.html">Wizard <span class="badge badge-pill badge-primary">New</span></a>
                  <span class="dropdown-item d-flex align-items-center text-muted">Timeline <i
                        class="fas fa-ban ml-auto"></i></span> <span
                     class="dropdown-item d-flex align-items-center text-muted">Process <i
                        class="fas fa-ban ml-auto"></i></span>
               </div>
            </div>
         </div>
         <div class="st-dropdown-section" data-dropdown="blog">
            <div class="st-dropdown-content">
               <div class="st-dropdown-content-group">
                  <div class="row">
                     <div class="col mr-4">
                        <h4 class="regular text-uppercase">Full width</h4>
                        <a class="dropdown-item" target="_blank" href="blog/blog-post.html">Single post</a> <a
                           class="dropdown-item" target="_blank" href="blog/blog-grid.html">Posts Grid</a>
                     </div>
                     <div class="col mr-4">
                        <h4 class="regular text-uppercase">Sidebar left</h4>
                        <a class="dropdown-item" target="_blank" href="blog/blog-post-sidebar-left.html">Single post</a>
                        <a class="dropdown-item" target="_blank" href="blog/blog-grid-sidebar-left.html">Posts Grid</a>
                     </div>
                     <div class="col mr-4">
                        <h4 class="regular text-uppercase">Sidebar right</h4>
                        <a class="dropdown-item" target="_blank" href="blog/blog-post-sidebar-right.html">Single
                           post</a> <a class="dropdown-item" target="_blank"
                           href="blog/blog-grid-sidebar-right.html">Posts Grid</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="st-dropdown-section" data-dropdown="shop">
            <div class="st-dropdown-content">
               <div class="st-dropdown-content-group">
                  <a class="dropdown-item" target="_blank" href="https://instagram.com/cekicem">
                     <div class="media align-items-center">
                        <div class="bg-info text-contrast icon-md center-flex rounded-circle mr-3"><i
                              class="fab fa-instagram"></i></div>
                        <div class="media-body">
                           <h3 class="link-title m-0">@cekicem</h3>
                        </div>
                     </div>
                  </a>
                  <a class="dropdown-item" target="_blank" href="whatsapp">
                     <div class="media align-items-center">
                        <div class="bg-info text-contrast icon-md center-flex rounded-circle mr-3"><i
                              class="fab fa-whatsapp"></i></div>
                        <div class="media-body">
                           <h3 class="link-title m-0">0555 594 91 70</h3>
                        </div>
                     </div>
                  </a>
                  <a class="dropdown-item" target="_blank" href="contact-us">
                     <div class="media align-items-center">
                        <div class="bg-info text-contrast icon-md center-flex rounded-circle mr-3"><i
                              class="far fa-comment"></i></div>
                        <div class="media-body">
                           <h3 class="link-title m-0">Bize Yazın</h3>
                        </div>
                     </div>
                  </a>
               </div>
               <!--<div class="st-dropdown-content-group">
                   <h3 class="link-title"><i class="fas fa-money-check-alt icon"></i> Checkout</h3>
                   <div class="ml-5"><a class="dropdown-item text-secondary" target="_blank" href="shop/checkout-customer.html">Customer <i class="fas fa-angle-right ml-2"></i> </a><a class="dropdown-item text-secondary" target="_blank" href="shop/checkout-shipping.html">Shipping Information <i class="fas fa-angle-right ml-2"></i> </a><a class="dropdown-item text-secondary" target="_blank" href="shop/checkout-payment.html">Payment Methods <i class="fas fa-angle-right ml-2"></i> </a><a class="dropdown-item text-secondary" target="_blank" href="shop/checkout-confirmation.html">Order Review <i class="fas fa-angle-right ml-2"></i></a></div>
                </div>-->
            </div>
         </div>
      </div>
   </div>
</nav>