.dropdown-menu-admin {
    margin-top: 10px;
    left: -140px;
    min-width: 420px;
}

.dropdown-menu-not-admin {
    margin-top: 10px;
    left: -40px;
    min-width: 210px;
}

.navigation .dropdown.show .dropdown-toggle {
    color: #000;
}

@media (max-width:1200px) {
    .navi-contact-info {
        display: none !important;
    }
}

@media (max-width:767px) {
    .navi-homepage {
        display: none !important;
    }

    .navbar {
        padding: 0rem 1rem;
        min-height: 0px;
    }

    .navigation {
        background-color: transparent;
    }

    .navbar-sticky {
        background-color: #fff;
    }

    .d-block {
        display: none !important;
        margin-top: 10px;
    }

    .d-none {
        display: block !important;
        margin-top: 10px;
    }
}
