.display-md-3 {
    font-size: 3.5rem!important;
}

.lead {
    text-align: center;
}

@media (min-width: 768px) {
    .mb-md-6, .my-md-6 {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 768px) {
    #register-ceki-part {
        display: none !important;
    }
}
