<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay gradient gradient-purple-navy alpha-7 image-background cover" id="register-ceki-part" style="background-image:url('../../assets/img/loginbg.jpg'); height: 625px;">
          <div class="content">
             <h2 class="display-4 display-md-3 text-contrast mt-4 mt-md-0">
                <span class="bold d-block"> 
                  <img src="assets/img/ceki/hiwoman.svg" class="img-responsive" alt="" style="width:150px; display:inline"> {{ 'MeetTheCeki' | translate }}
                </span>
             </h2>
             <p class="lead text-contrast">{{ 'WelcomeToThePrivilegedWorldOfCeki' | translate }}</p>
             <div class="mt-5 text-center"><a routerLink="/" class="btn btn-primary btn-rounded">{{ 'ReturnToHomepage' | translate }}</a></div>
          </div>
       </div>
       <div class="col-md-5 col-lg-4 mx-auto">
          <div class="register-form mt-5 mt-md-0">
             <img src="assets/img/logo.png" class="logo img-responsive mb-4 mb-md-6" alt="">
             <h1 class="text-darker bold">{{ 'RegisterNow' | translate }}</h1>
             <p class="text-secondary mb-4 mb-md-6">{{ 'AlreadyHaveAnAccount' | translate }} <a routerLink="/login" class="text-primary bold">{{ 'Login' | translate }}</a></p>
             <form class="cozy" data-validate-o="submit" novalidate="novalidate" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="margin-top: 50px">
               <div class="form-group has-icon"><input type="text" id="register_fullname" formControlName="name_surname" class="form-control form-control-rounded" placeholder="{{ 'NameSurname' | translate }}" required> <i class="icon fas fa-address-card"></i></div>
                <div class="form-group has-icon"><input type="email" id="register_email" autocomplete="off" formControlName="email" class="form-control form-control-rounded" placeholder="{{ 'EMailAddress' | translate }}" required autocomplete="off"> <i class="icon fas fa-at"></i></div>
                <div class="form-group has-icon"><input type="password" id="register_password" formControlName="password" class="form-control form-control-rounded" placeholder="{{ 'Password' | translate }}" required autocomplete="off"> <i class="icon fas fa-lock"></i></div>
                <div class="form-group has-icon"><input type="number" inputmode="tel" id="register_phone" formControlName="phone_number" class="form-control form-control-rounded" placeholder="{{ 'PhoneNumber' | translate }}" required> <i class="icon fas fa-phone"></i></div>
                <div class="form-group d-flex align-items-center justify-content-between"><button type="submit" class="btn btn-primary btn-rounded ml-auto">{{ 'SignUp' | translate }} <i class="fas fa-long-arrow-alt-right ml-2"></i></button></div>
             </form>
             <div class="alert alert-icon alert-danger" role="alert" *ngIf="requiredFields"><i class="icon fas fa-times"></i> Lütfen tüm alanları doldurunuz!</div>
             <div class="alert alert-icon alert-danger" role="alert" *ngIf="errorMessage.length > 0"><i class="icon fas fa-times"></i> {{ errorMessage }}</div>
             <div class="mt-5">
                <p class="small text-secondary">{{ 'ByRegistering' | translate }} <a routerLink="/terms-of-use">{{ 'TermsOfUse' | translate }}</a> {{ 'and' | translate }} <a routerLink="/privacy-policy">{{ 'PrivacyPolicy' | translate }}</a>.</p>
             </div>
          </div>
       </div>
    </div>
 </div>