<app-navigation></app-navigation>
 <header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('assets/img/bg/waves.jpg')">
    <div class="container" style="padding-top: 0px;"></div>
 </header>
 <section class="section block bg-contrast post-url-section" *ngIf="!isPost" >
   <div class="container py-4">
      <div class="row gap-y">
       <div class="container py-4">
           <div class="row">
              <div class="col-md-5 b-md-r">
                 <h4 style="margin-top: 20px">Şimdi Çekilişe Başlayın:</h4>
              </div>
              <div class="col-md-7 ml-md-auto">
                 <form [formGroup]="postUrlForm" (ngSubmit)="onSubmit(postUrlForm.value)" class="form" data-response-message-animation="slide-in-left" novalidate="novalidate">
                    <div class="input-group">
                       <input type="text" formControlName="url" class="form-control rounded-circle-left" placeholder="Instagram Postunuzun Url'ini Girin" required="" style="height: 70px">
                       <div class="input-group-append" style="height: 70px"><button class="btn btn-rounded btn-info" type="submit"><i class="fas fa-search fa-2x" *ngIf="!isLoading"></i><i class="fas fa-pulse fa-2x fa-spinner" *ngIf="isLoading"></i></button></div>
                    </div>
                    <div class="input-group" *ngIf="postCount > 1">
                     <input type="text" formControlName="url2" class="form-control rounded-circle-left" placeholder="Instagram Postunuzun Url'ini Girin" required="" style="height: 70px">
                     <div class="input-group-append" style="height: 70px"><button class="btn btn-rounded btn-info" type="button" (click)="removeNewPost()"><i class="fas fa-times fa-2x"></i></button></div>
                    </div>
                     <div class="input-group" *ngIf="postCount > 2">
                        <input type="text" formControlName="url3" class="form-control rounded-circle-left" placeholder="Instagram Postunuzun Url'ini Girin" required="" style="height: 70px">
                        <div class="input-group-append" style="height: 70px"><button class="btn btn-rounded btn-info" type="button" (click)="removeNewPost()"><i class="fas fa-times fa-2x"></i></button></div>
                     </div>
                    <div *ngIf="postCount < 3">
                     <button type="button" class="btn btn-default" (click)="addNewPost()" style="float: right"><i class="fa fa-plus"></i> Yeni Post Ekle</button>
                    </div>
                    <br /><br />
                    <small _ngcontent-mnu-c51="" id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic" style="text-align: center">* 1000 yoruma kadar olan gönderileriniz için ücretsiz çekiliş yapabilirsiniz.</small>
                    <div class="alert alert-icon alert-danger" role="alert" *ngIf="errorBox"><i class="icon fas fa-times"></i> Devam etmek için üye girişi yapmalısınız!</div>
                  </form>
                 <!--<div class="response-message">
                    <i class="fas fa-envelope font-lg"></i>
                    <p class="font-md m-0">Check your email</p>
                    <p class="response">We sent you an email with a link to get started. You’ll be in your account in no time.</p>
                 </div>-->
              </div>
           </div>
        </div>
      </div>
   </div>
</section>
<section class="section why-us overflow-hidden" *ngIf="!isPost">
   <div class="shape-wrapper">
      <div class="absolute shape-background top right"></div>
   </div>
   <div class="container">
      <div class="section-heading text-center">
         <h2 class="bold">Nasıl Çekiyoruz?</h2>
         <p class="lead text-secondary">Gönderinizdeki yorum sayısı kaç olursa olsun, tüm yorumları çekiyor ve panelinizde listeliyoruz. Rastgeleliği doğrulanmış özgün algoritmamızla çekilişi gerçekleştiyoruz.</p>
      </div>
      <div class="row gap-y">
         <div class="col-md-6">
            <ul class="list-unstyled why-icon-list">
               <li class="list-item">
                  <div class="media">
                     <div class="rounded-circle bg-info shadow-info text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="instagram" width="36" height="36" class="instagram"></i></div>
                     <div class="media-body">
                        <h5 class="bold">Gönderi URL'ini Girin</h5>
                        <p class="my-0">Çekiliş yapmak istediğiniz postunuzun URL'ini girin ve çekiliş kaydınızı oluşturun.</p>
                     </div>
                  </div>
               </li>
               <li class="list-item">
                  <div class="media">
                   <div class="rounded-circle bg-info shadow-info text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="check-circle" width="36" height="36" class="check-circle"></i></div>
                     <div class="media-body">
                        <h5 class="bold">Çekiliş Kurallarını Belirleyin</h5>
                        <p class="my-0">Tekrarlı/Tekrarsız yorumlar, kazanan sil ve yedek talihliler gibi çekiliş kurallarını belirleyin.</p>
                     </div>
                  </div>
               </li>
               <li class="list-item">
                  <div class="media">
                     <div class="rounded-circle bg-info shadow-info text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="smile" width="36" height="36" class="smile"></i></div>
                     <div class="media-body">
                        <h5 class="bold">Arkanıza Yaslanın</h5>
                        <p class="my-0">Çekiliş kaydınızı oluşturduğunuz andan itibaren tüm yorumları titizlikle çekiyor ve sizin için saklıyor olacağız.</p>
                     </div>
                  </div>
               </li>
               <li class="list-item">
                  <div class="media">
                     <div class="rounded-circle bg-info shadow-info text-contrast p-3 icon-xl d-flex align-items-center justify-content-center mr-3"><i data-feather="thumbs-up" width="36" height="36" class="thumbs-up"></i></div>
                     <div class="media-body">
                        <h5 class="bold">Kazananları Görün</h5>
                        <p class="my-0">Alanında rakipsiz hızdaki botumuzun çektiği yorumlar arasından yapılan çekilişinizin sonuçlarını istediğiniz zaman görün.</p>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="col-md-6">
            <figure data-aos="fade-left" class="aos-init aos-animate"><img src="assets/img/ceki/completewoman.svg" class="img-responsive" alt="" style="width:75%"></figure>
         </div>
      </div>
      <div class="mt-5 text-center">
         <a routerLink="/pricing" class="btn btn-primary btn-rounded">Çekiliş paketi satın alın</a>
         <p class="small">- veya -</p>
         <a routerLink="/contact-us" class="btn btn-link">Sorularınız için bize ulaşın</a>
      </div>
   </div>
</section>
<section class="section b-b merak-section" *ngIf="!isPost">
   <div class="container">
      <div class="section-heading text-center">
         <h2 id="examples">Merak Ettikleriniz</h2>
      </div>
      <div class="row">
         <div class="col-md-8 mx-auto">
            <div class="accordion accordion-info" id="accordion-colored" data-current="info">
               <div class="card mb-3">
                  <div class="card-header">
                     <h5 class="mb-0"><a href="#" class="card-title btn collapsed" data-toggle="collapse" data-target="#clr-q1" aria-expanded="false"><i class="fas fa-angle-down angle"></i>Instagram postumun yorumlarını nasıl çekiyorsunuz?</a></h5>
                  </div>
                  <div id="clr-q1" class="collapse" data-parent="#accordion-colored">
                     <div class="card-body">Instagram API'leri ve kendi oluşturduğumuz yapay zekalı botlarımızla 10 kata kadar daha hızlı ve eksiksiz olarak çekiyoruz. Çekiliş kaydınızı oluşturduğunuz andan itibaren botlarımız çalışmaya başlayarak tüm yorumlarınızı çekmeye başlıyor. Çekiliş günü geldiğinde saatlerce beklemiyor, takipçilerinizi de bekletmiyorsunuz. Çekilişlerinizi tam zamanında gerçekleştirmenin keyfini çıkarıyorsunuz.</div>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header">
                     <h5 class="mb-0"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#clr-q2"><i class="fas fa-angle-down angle"></i>Nasıl çekiliş yapabilirim?</a></h5>
                  </div>
                  <div id="clr-q2" class="collapse" data-parent="#accordion-colored">
                     <div class="card-body">"Çekiliş Yap" menümüzü kullanarak kolayca çekiliş oluşturabilirsiniz. Postunuzun URL'ini girdikten sonra Çeki'nin yönlendirmelerini takip ederek çekilişinizi hızlıca başlatabilirsiniz. Tek yapmanız gereken çekiliş kurallarınızı belirlemek ve gerisini Çeki'ye bırakarak arkanıza yaslanmak.</div>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header">
                     <h5 class="mb-0"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#clr-q3"><i class="fas fa-angle-down angle"></i>Çekiliş fiyatları nedir? Nasıl deneme yapabilirim?</a></h5>
                  </div>
                  <div id="clr-q3" class="collapse" data-parent="#accordion-colored">
                     <div class="card-body">Çekiliş paket fiyatlarımıza "Paketler" menümüzde ulaşabilirsiniz. Sizlerin Çeki'yi daha yakından tanıması için 1000 yoruma kadar yapacağınız tüm çekilişleri ücretsiz olarak gerçekleştiriyoruz. Ayrıca kendimize güveniyoruz, yeni üyelerimize özel olarak, 500 Bim yoruma kadar yapacakları ilk çekilişi ücretsiz olarak gerçekleştiriyoruz.</div>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header">
                     <h5 class="mb-0"><a href="#" class="card-title btn" data-toggle="collapse" data-target="#clr-q4"><i class="fas fa-angle-down angle"></i>Çekiliş kuralları ne demek?</a></h5>
                  </div>
                  <div id="clr-q4" class="collapse" data-parent="#accordion-colored">
                     <div class="card-body">Çekiliş kurallarını sizin çekilişiniz için belirlediğiniz kuralların tümüdür. Bunlar örnek olarak, her yorumun bir katılım sayılması ya da her kullanıcının tek bir key çekilişe katılması gösterilebilir. Asil ve yedek talihli sayılarının belirlenmesi, otomatik takipçi kontrolleri, yorum içeriğindeki etiket sayısı ve kontrolleri buna dahildir.</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="section" *ngIf="isPost">
  <div class="container pt-0 mt-n8">
     <div class="row">
        <div class="col-lg-7 pt-7">
           <h5 class="mb-5" style="font-weight: bold">Çekiliş Kuralları</h5>
           <form [formGroup]="createGiveawayForm" (ngSubmit)="onCreate(createGiveawayForm.value)" class="checkout-cc-payment-form" novalidate="novalidate">
           <div class="accordion accordion-clean accordion-collapsed" id="payment-options">
              <div class="card">
                 <div id="clp-payment-credit-card" class="collapse show" data-parent="#payment-options">
                    <div class="card-body">
                       <div class="row gap-y align-items-center">
                          <div class="col-md-12">
                             
                                <div class="form-group">
                                   <label for="card-number" class="control-label small bold">Çekiliş Adı ve Ödülü</label> 
                                   <input class="form-control" type="text" formControlName="title" placeholder="Çekiliş adı ve ödülünü girin" required="">
                                </div>
                                <div class="form-row">
                                   <div class="form-group col-sm-6">
                                      <label for="expiration" class="control-label small bold">Asil Talihli Sayısı</label> 
                                      <select id="cars" class="form-control" formControlName="winner_count">
                                         <option [ngValue]="1">1</option>
                                         <option [ngValue]="2">2</option>
                                         <option [ngValue]="3" [selected]="true">3</option>
                                         <option [ngValue]="4">4</option>
                                         <option [ngValue]="5">5</option>
                                         <option [ngValue]="6">6</option>
                                         <option [ngValue]="7">7</option>
                                         <option [ngValue]="8">8</option>
                                         <option [ngValue]="9">9</option>
                                         <option [ngValue]="10">10</option>
                                         <option [ngValue]="11">11</option>
                                         <option [ngValue]="12">12</option>
                                         <option [ngValue]="13">13</option>
                                         <option [ngValue]="14">14</option>
                                         <option [ngValue]="15">15</option>
                                         <option [ngValue]="16">16</option>
                                         <option [ngValue]="17">17</option>
                                         <option [ngValue]="18">18</option>
                                         <option [ngValue]="19">19</option>
                                         <option [ngValue]="20">20</option>
                                       </select>
                                   </div>
                                   <div class="form-group col-sm-6">
                                      <label for="expiration" class="control-label small bold">Yedek Talihli Sayısı</label> 
                                      <select id="cars" class="form-control" formControlName="reserve_winner_count">
                                         <option [ngValue]="1">1</option>
                                         <option [ngValue]="2">2</option>
                                         <option [ngValue]="3" [selected]="true">3</option>
                                         <option [ngValue]="4">4</option>
                                         <option [ngValue]="5">5</option>
                                         <option [ngValue]="6">6</option>
                                         <option [ngValue]="7">7</option>
                                         <option [ngValue]="8">8</option>
                                         <option [ngValue]="9">9</option>
                                         <option [ngValue]="10">10</option>
                                         <option [ngValue]="11">11</option>
                                         <option [ngValue]="12">12</option>
                                         <option [ngValue]="13">13</option>
                                         <option [ngValue]="14">14</option>
                                         <option [ngValue]="15">15</option>
                                         <option [ngValue]="16">16</option>
                                         <option [ngValue]="17">17</option>
                                         <option [ngValue]="18">18</option>
                                         <option [ngValue]="19">19</option>
                                         <option [ngValue]="20">20</option>
                                       </select>
                                   </div>
                                </div>
                                <div class="form-row">
                                   <div class="form-group col-sm-6">
                                      <label for="expiration" class="control-label small bold">Katılım Şansı</label> 
                                      <select id="cars" class="form-control" formControlName="participation">
                                         <option [ngValue]="1">Her kullanıcı için 1 katılım</option>
                                         <option [ngValue]="2" [selected]="true">Her farklı yorum 1 katılım</option>
                                         <option [ngValue]="3">Her farklı etiket 1 katılım</option>
                                       </select>
                                   </div>
                                   <div class="form-group col-sm-6">
                                      <label for="expiration" class="control-label small bold">Yorumdaki Etiket Sayısı (@)</label> 
                                      <select id="cars" class="form-control" formControlName="tag_count" [ngModel]="tagCount">
                                         <option [ngValue]="0">Zorunlu Değil</option>
                                         <option [ngValue]="1">1</option>
                                         <option [ngValue]="2">2</option>
                                         <option [ngValue]="3">3</option>
                                         <option [ngValue]="4">4</option>
                                         <option [ngValue]="5">5</option>
                                         <option [ngValue]="6">6</option>
                                         <option [ngValue]="7">7</option>
                                         <option [ngValue]="8">8</option>
                                         <option [ngValue]="9">9</option>
                                         <option [ngValue]="10">10</option>
                                       </select>
                                   </div>
                                </div>
                                <div class="form-row">
                                   <div class="form-group col-sm-12">
                                      <label for="expiration" class="control-label small bold">Takip Edilecek Hesaplar (, ile ayırınız)</label> 
                                      <input class="form-control" type="text" formControlName="must_followed" placeholder="Takip edilmesi zorunlu olan hesapları irgül ile ayırarak girin" required="">
                                   </div>
                                   <!--<div class="form-group col-sm-6">
                                      <label for="expiration" class="control-label small bold">Çekiliş Paketi</label> 
                                      <select id="cars" class="form-control" formControlName="package">
                                         <option [ngValue]="0">1000 Yorum (Ücretsiz)</option>
                                         <ng-container *ngFor="let sale of sales">
                                          <option *ngIf="sale.remaining > 0" [ngValue]="sale.id" >{{ sale.package.description }}</option>
                                         </ng-container>
                                       </select>
                                   </div>-->
                                </div>
                                <div class="form-row" *ngIf="isInsufficient">
                                 <div class="alert alert-danger" role="alert" style="width: 100%; text-align: center; font-weight: bold">Üzgünüz, seçtiğiniz paket bu çekiliş için yetersiz. 😢</div>
                                </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        
           <div class="row mt-5">
              <div class="col-6"><a class="btn btn-light btn-block" routerLink="/pricing"><i class="fas fa-chevron-left mr-2"></i> <span>Paket Satın Al</span></a></div>
              <div class="col-6"><button class="btn btn-primary btn-block" type="submit"><span class="mr-2">Çekilişi Kaydet</span> <i class="fas fa-chevron-right"></i></button></div>
           </div>
        </form>
        </div>
        <!-- Sidebar-->
        <aside class="col-lg-5 pt-5 pt-lg-0">
           <div class="card shadow border-0 rounded-lg">
              <div class="card card-blog shadow-box shadow-hover border-0">
                 <a href="#"><img class="card-img-top img-responsive" src="{{ mediaInfo?.data.display_url }}" alt=""></a>
                 <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                       <div class="author d-flex align-items-center">
                          <img class="author-picture rounded-circle icon-md shadow-box" src="{{ mediaInfo?.data.owner_profile_pic_url }}" alt="...">
                          <p class="small bold my-0 author-username">@{{ mediaInfo?.data.owner_username }}</p>
                       </div>
                       <nav class="nav">
                          <a href="javascript:;" class="d-flex align-items-center text-secondary mr-3 blog-action blog-favorite">
                             <i class="far fa-heart mr-2"></i> <span class="small">{{ mediaInfo?.data.like_count }}</span> 
                          </a>
                          <a href="javascript:;" class="d-flex align-items-center text-secondary blog-action blog-bookmark">
                             <i class="far fa-comment mr-2"></i> <span class="small">{{ mediaInfo?.data.comment_count }} <span *ngIf="mediaInfo?.data.comment_count_2 > 0"> + {{ mediaInfo?.data.comment_count_2 }}</span> <span *ngIf="mediaInfo?.data.comment_count_3 > 0"> + {{ mediaInfo?.data.comment_count_3 }}</span></span>
                          </a>
                       </nav>
                    </div>
                    <hr>
                    <!--<p class="card-title regular"><a href="blog-post.html">5 Reasons to Choose DashCore</a></p>-->
                    <p class="card-text text-secondary" id="style-7">{{ mediaInfo?.data.caption }}</p>
                    <p class="bold small text-secondary my-0"><small>{{ (mediaInfo?.data.datetime | amFromUnix) | amDateFormat:'DD/MM/YYYY HH:mm'}}</small></p>
                    <br />
                    <a class="btn btn-info btn-block mb-2" type="button" href="https://www.instagram.com/p/{{ mediaInfo?.data.shortcode }}/"><i class="fab fa-instagram"></i>   Post'a Git</a>
                    <a class="btn btn-info btn-block mb-2" type="button" href="https://www.instagram.com/p/{{ mediaInfo?.data.shortcode_2 }}/" *ngIf="mediaInfo?.data.shortcode_2 != null"><i class="fab fa-instagram"></i>   2. Post'a Git</a>
                    <a class="btn btn-info btn-block mb-2" type="button" href="https://www.instagram.com/p/{{ mediaInfo?.data.shortcode_3 }}/" *ngIf="mediaInfo?.data.shortcode_3 != null"><i class="fab fa-instagram"></i>   3. Post'a Git</a>
                 </div>
              </div>
           </div>
        </aside>
     </div>
  </div>
</section>
<app-footer></app-footer>